#filters.filters-modal
	.filters-modal__background
	button.filter-btn.filters-modal__close(type="button")
		img(src="/images/FiltersClose.svg" alt="Filters")
		span.d-none.d-md-block Фильтры
	.filters-modal__body
		form#delas-filters.form-container.row(method="POST" action="/" data-form-ajax)
			.form-group.form-select-group.with-label
				p.form-label Город
				.form-icon.to-right
					img(src="/images/SelectArrow.svg" alt="Arrow")
				select.form-input.full-width.with-icon-right(name="city" id="city" required)
					option(value="hide" selected) Город
					option(value="city-1") Одесса
					option(value="city-2") Харьков
					option(value="city-3") Херсон
			.form-group.form-select-group.with-label
				p.form-label Районы
				select.form-input.full-width.with-icon-right(name="region" id="region" multiple required)
					option(value="hide" selected) Район
					option(value="region-1") Одесский
					option(value="region-2") Харьковский
					option(value="region-3") Херсонский
			.form-group.form-select-group.with-label
				p.form-label Категории
				select.form-input.full-width.with-icon-right(name="category" id="category" multiple required data-select-type="chip-select")
					option(value="hide" selected) Выбрать категорию
					option(value="region-1") Строительство домов
					option(value="region-2") Ремонт квартир
					option(value="region-3") Сварочные работы
				.filters-chips.d-none