footer.footer
	.container
		.row
			.col-12.col-md-3.col-lg-2
				a.footer__logo(href="/")
					img(src="/images/Logo.svg" alt="Logo")
				.footer__socials.d-none.d-md-flex
					a.footer__social-link(href="/")
						img(src="/images/FacebookIcon.svg" alt="Facebook")
					a.footer__social-link(href="/")
						img(src="/images/InstagramIcon.svg" alt="Instagram")
			.col-12.col-sm-6.col-md-5.col-lg-3
				h5.footer__title.d-none.d-lg-block Разделы
				h5.footer__title.d-block.d-lg-none Разделы и помощь

				ul.footer__links-list
					li.footer__links-item
						a.footer__link.is-link(href="/") О проекте
					li.footer__links-item
						a.footer__link.is-link(href="/") Как это работает
					li.footer__links-item
						a.footer__link.is-link(href="/") Заказы
					li.footer__links-item
						a.footer__link.is-link(href="/") Исполнители

				ul.footer__links-list.d-flex.d-lg-none
					li.footer__links-item
						a.footer__link.is-link(href="/") Вопросы и ответы
					li.footer__links-item
						a.footer__link.is-link(href="/") Сообщить об ошибке
					li.footer__links-item
						a.footer__link.is-link(href="/") Предложить функцию/идею
					li.footer__links-item
						a.footer__link.is-link(href="/") Публичная оферта
					li.footer__links-item
						a.footer__link.is-link(href="/") Правила конфиденциальности
			.col-lg-4.d-none.d-lg-block
				h5.footer__title Помощь
				ul.footer__links-list
					li.footer__links-item
						a.footer__link.is-link(href="/") Вопросы и ответы
					li.footer__links-item
						a.footer__link.is-link(href="/") Сообщить об ошибке
					li.footer__links-item
						a.footer__link.is-link(href="/") Предложить функцию/идею
					li.footer__links-item
						a.footer__link.is-link(href="/") Публичная оферта
					li.footer__links-item
						a.footer__link.is-link(href="/") Правила конфиденциальности
			.col-12.col-sm-6.col-md-4.col-lg-3
				h5.footer__title Контакты
				.footer__address-wrap
					p.footer__link Почта
					a.footer__address-info(href="mailto:support@poleznus.com") support@poleznus.com
				.footer__address-wrap
					p.footer__link Телефон
					a.footer__address-info(href="tel: 0 800 12 3456") 0 800 12 3456
				.footer__address-wrap
					p.footer__link Время работы
					p.footer__address-info Пн — Пт: c 8:00 до 20:00
					p.footer__address-info Сб — Вс: c 9:00 до 18:00
				.footer__socials.d-flex.d-md-none
					a.footer__social-link(href="/")
						img(src="/images/FacebookIcon.svg" alt="Facebook")
					a.footer__social-link(href="/")
						img(src="/images/InstagramIcon.svg" alt="Instagram")
			.col-12
				.footer__copyright-row
					p.footer__copyright-text!='<a href="/">poleznus.com</a> © 2020'
					p.footer__copyright-text!='Created with love by <a href="/">MantiCore Development</a>'