include ../mixins/search-field

header#header.header
  .container-fluid
    .header__content-wrap
      a.header__logo(href="/")
        img(src="/images/Logo.svg" alt="Logo")
      form(action="/" data-form-ajax method="get").form-group.d-none.d-md-block
        .form-icon.to-left
          img(src="/images/InputSearch.svg" alt="Search")
        input.form-input.with-icon-left(type="text" name="search" placeholder="Что нужно сделать?")
    .header__actions-wrap.d-flex.d-xl-none
      .header__action.header__action_search.d-block.d-md-none
        .header__action-icon.header__action_search
          img(src="/images/Search.svg" alt="Search")
      .header__action.header__action_account
        button.header__action-icon(type="button" data-toggle="modal" data-target="#registration")
          img(src="/images/Account.svg" alt="Account")
      .header__action.header__action_menu
        .header__action-icon
          span
          span
          span
          span
    .header__content-wrap.d-none.d-xl-flex
      .header__links-wrap
        a.header__link.is-link(href="/") Заказы
        a.header__link.is-link(href="/") Мои заказы
        a.header__link.is-link(href="/") Исполнители
        a.header__link.is-link(href="/") Как это работает
      .header__account-actions
        //a.custom-btn(href="/customer-start.html")
        //  span Создать заказ
        button.custom-btn(type="button" data-toggle="modal" data-target="#registration")
          span Зарегистрироваться
        button.header__link(type="button" data-toggle="modal" data-target="#login") Логин
      //.header__account-info.d-none.d-xl-flex
      //  .header__account-profile
      //    img(src="/images/Default.jpeg" alt="Profile")
      //  p Андрей
.header-search.d-flex.d-md-none
  .container-fluid
    +searchField()