doctype html
html(lang="en")
  head
    block vars
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    title #{title}

  body
    include header

    block content

    include footer

    include menu

    include filters

    include portfolioModal

    include registrationModal

    include loginModal

    include recoveryModal

    include successModal

    include successRecovery