.modal.fade(id="login" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.close(data-dismiss="modal" aria-label="Close")
					img(src="/images/CloseIcon.svg" alt="Close")
			.modal-body
				.container-fluid
					.row
						.col-12.col-lg-7.col-top-content
							h2.modal-title Вход в аккаунт
							.modal-socials
								a.modal-link.modal-link__fb(href="/")
									img.svg(src="/images/FB_social.svg" alt="Facebook")
								a.modal-link.modal-link__google(href="/")
									img.svg(src="/images/Google_social.svg" alt="Google")
								a.modal-link.modal-link__apple(href="/")
									img.svg(src="/images/Apple_social.svg" alt="Apple")
							p.modal-sub-title Или войдите через ваши данные:

							form#login-form.modal-form(method="POST" action="/" data-form-ajax)
								.form-group
									input.form-input(type="text" name="email" placeholder="Email или Телефон" required)
								.form-group
									input.form-input(type="password" name="password" placeholder="Пароль" required)
								button.custom-btn(type="submit")
									span Войти
								a.modal-form-link.is-link(data-dismiss="modal" data-toggle="modal" href="#recovery")
									span.link Забыли пароль?

						.col-12.col-lg-5.col-bottom-content
							.modal-img.modal-img-hats
								img(src="/images/Hats.svg" alt="Hats")
							h2.modal-title Нет аккаунта?
							p.modal-sub-title Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас
							a.custom-btn(data-dismiss="modal" data-toggle="modal" href="#registration")
								span Создать аккаунт
							.modal-img.modal-img-illustration
								img(src="/images/ModalIllustration.svg" alt="Illustration")