include ../mixins/search-field

.global-menu
	.container-fluid
		+searchField()(class="d-block d-md-none")

		ul.global-menu__links-list
			li.global-menu__links-item
				a.global-menu__link(href="/") Заказы
			li.global-menu__links-item
				a.global-menu__link(href="/") Исполнители
			li.global-menu__links-item
				a.global-menu__link(href="/") Как это работает

		.global-menu__btns-row
			button.custom-btn(type="button" data-toggle="modal" data-target="#registration")
				span Зарегистрироваться
			button.custom-btn(type="button" data-toggle="modal" data-target="#login")
				span Войти