.modal.fade(id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-body
				.container
					.modal-title Ремонт квартир
					.modal-sub-title Поставил плинтусы, побелил потолок и покрасил стены
					.modal-slider
						#portfolioSlider.slider
							.slide
								img(src="/images/Default.jpeg" alt="Portfolio")
							.slide
								img(src="/images/Default.jpeg" alt="Portfolio")
							.slide
								img(src="/images/Default.jpeg" alt="Portfolio")
							.slide
								img(src="/images/Default.jpeg" alt="Portfolio")
							.slide
								img(src="/images/Default.jpeg" alt="Portfolio")
						.modal-slider-pagination
							.modal-slider-pagination__count.modal-slider-pagination__count_current 1
							.modal-slider-pagination__count /
							.modal-slider-pagination__count.modal-slider-pagination__count_total 8