.modal.fade(id="recovery" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.close(data-dismiss="modal" aria-label="Close")
					img(src="/images/CloseIcon.svg" alt="Close")
			.modal-body
				.container-fluid
					.row
						.col-12.col-lg-7.col-top-content
							h2.modal-title Забыли пароли?
							p.modal-sub-title Введите вашу почту и мы отправим вам код подтверждения

							form#recovery-form.modal-form(method="POST" action="/" data-form-ajax)
								.form-group
									input.form-input(type="email" name="email" placeholder="Email" required)
								button.custom-btn(type="submit")
									span Восстановить пароль
								a.modal-form-link(data-dismiss="modal" data-toggle="modal" href="#login")
									span.text Вспомнили пароль?
									span.link Войти

						.col-12.col-lg-5.col-bottom-content
							.modal-img.modal-img-hats
								img(src="/images/Hats.svg" alt="Hats")
							h2.modal-title Нет аккаунта?
							p.modal-sub-title Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас
							a.custom-btn(data-dismiss="modal" data-toggle="modal" href="#registration")
								span Создать аккаунт
							.modal-img.modal-img-illustration
								img(src="/images/ModalIllustration.svg" alt="Illustration")