.modal.fade(id="registration" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.close(data-dismiss="modal" aria-label="Close")
					img(src="/images/CloseIcon.svg" alt="Close")
			.modal-body
				.container-fluid
					.row
						.col-12.col-lg-7.col-top-content
							h2.modal-title Регистрация
							.modal-socials
								a.modal-link.modal-link__fb(href="/")
									img.svg(src="/images/FB_social.svg" alt="Facebook")
								a.modal-link.modal-link__google(href="/")
									img.svg(src="/images/Google_social.svg" alt="Google")
								a.modal-link.modal-link__apple(href="/")
									img.svg(src="/images/Apple_social.svg" alt="Apple")
							p.modal-sub-title Или через ваши данные:
							form#registration-form.modal-form(method="POST" action="/" data-form-ajax)
								.form-group
									input.form-input(type="tel" name="phone" placeholder="Телефон" required)
								.form-group
									input.form-input(type="email" name="email" placeholder="Почта" required)
								.form-group
									input.form-input(type="password" name="password" placeholder="Пароль" required)
								button.custom-btn(type="submit")
									span Зарегистрироваться
						.col-12.col-lg-5.col-bottom-content
							.modal-img.modal-img-hats
								img(src="/images/Hats.svg" alt="Hats")
							h2.modal-title Есть аккаунт?
							p.modal-sub-title Чтобы создавать заказы или искать работу нужно войти в ранее созданный аккаунт
							a.custom-btn(data-dismiss="modal" data-toggle="modal" href="#login")
								span Авторизоваться
							.modal-img.modal-img-illustration
								img(src="/images/ModalIllustration.svg" alt="Illustration")