.modal.fade(id="success" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.close(data-dismiss="modal" aria-label="Close")
					img(src="/images/CloseIcon.svg" alt="Close")
			.modal-body
				h2.modal-title Спасибо за заявку
				p.modal-sub-title Мы свяжемся с вами позже