.modal.fade(id="successRecovery" tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				button.close(data-dismiss="modal" aria-label="Close")
					img(src="/images/CloseIcon.svg" alt="Close")
			.modal-body
				.container-fluid
					.row
						.col-12.col-lg-7.col-top-content
							.modal-img.success-icon
								img(src="/images/SuccessIcon.svg" alt="Success")
							h2.modal-title Проверьте вашу почту
							p.modal-sub-title Мы отправили вам инструкцию по сбросу пароля
							p.modal-sub-title!='Нет письма? Проверьте спам или свяжитесь со <a href="tel:0 800 12 3456">службой поддержки</a>'

						.col-12.col-lg-5.col-bottom-content
							.modal-img.modal-img-hats
								img(src="/images/Hats.svg" alt="Hats")
							h2.modal-title Нет аккаунта?
							p.modal-sub-title Чтобы создавать заказы или искать работу нужно создать аккаунт с информацией о вас
							a.custom-btn(data-dismiss="modal" data-toggle="modal" href="#registration")
								span Создать аккаунт
							.modal-img.modal-img-illustration
								img(src="/images/ModalIllustration.svg" alt="Illustration")