.breadcrumbs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;

  @include respond-above(sm) {
    margin-bottom: 35px;
  }

  @include respond-above(xl) {
    margin-bottom: 45px;
  }

  &__item {
    display: flex;
    margin-right: 10px;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      cursor: default;
      pointer-events: none;

      span {
        color: $custom-black;
      }
    }

    span {
      display: block;
      color: #a7a5a6;
      font-size: 12px;

      &:nth-child(2) {
        margin-left: 10px;
      }

      @include respond-above(sm) {
        font-size: 14px;
      }
    }
  }
}
