.custom-btn {
  width: 220px;
  height: 48px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 220px;
  align-items: center;
  border-radius: 28px;
  justify-content: center;
  background-color: $accent;
  transition: all 0.3s ease-in-out;

  &:disabled {
    opacity: 0.4;
  }

  &.inverse {
    background-color: #fff;

    &:hover {
      background-color: #cccccc;
    }

    span {
      color: $accent;
    }
  }

  &:hover {
    background-color: #231460;
  }

  @include respond-above(xl) {
    width: 250px;
    height: 56px;
    min-width: 250px;
  }

  span {
    color: #fff;
    width: 100%;
    font-weight: 500;
    text-align: center;
  }
}
