.form-container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;

  .form-group {
    margin-bottom: 15px;
  }
}
.form-group {
  width: 100%;
  margin: 0 auto;
  position: relative;

  &.with-label {
    margin-top: 30px;
  }

  &.form-switch-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-above(sm) {
      justify-content: flex-start;

      p {
        margin-right: 15px;
      }
    }

    @include respond-above(lg) {
      margin-bottom: 0;
    }
  }

  &.form-file-group {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &.form-area-group {
    &:after {
      right: 7px;
      content: '';
      width: 20px;
      height: 20px;
      bottom: 7px;
      position: absolute;
      pointer-events: none;
      background: url("../images/Resizer.svg") no-repeat center;
    }
  }
}

/* INPUT */
.form-label {
  left: 0;
  top: -25px;
  z-index: 1;
  margin-bottom: 0;
  position: absolute;
  color: $custom-grey;
}
.form-icon {
  top: 50%;
  width: 16px;
  height: auto;
  position: absolute;
  transform: translateY(-50%);

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.clickable {
    cursor: pointer;
  }

  &.to-left {
    left: 20px;
  }

  &.to-right {
    right: 20px;
  }

  @include respond-above(xl) {
    width: 20px;
    height: auto;
  }
}
.form-input {
  width: 240px;
  height: 48px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  border-radius: 29px;
  background-color: #f6f6f7;

  &.with-icon-left {
    padding-left: 46px;
  }

  &.with-icon-right {
    padding-right: 46px;
  }

  &.file-input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    -webkit-appearance: none;
    background-color: transparent;
  }

  &::placeholder {
    color: $custom-grey;
  }

  &:disabled {
    color: #6d6b6b;
    background-color: #dcdcdd;
  }

  @include respond-above(lg) {
    width: 260px;
  }

  @include respond-above(xl) {
    width: 280px;
    height: 56px;
    font-size: 15px;

    &.with-icon-left {
      padding-left: 50px;
    }

    &.with-icon-right {
      padding-right: 50px;
    }
  }
}

/* SELECT */
.form-select {
  position: relative;
}
.select-styled {
  height: 48px;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  border-radius: 28px;
  padding: 0 55px 0 20px;
  background-color: #f6f6f7;
  justify-content: flex-start;

  @include respond-above(md) {
    padding: 0 65px 0 25px;
  }

  @include respond-above(xl) {
    height: 56px;
  }

  &:after {
    top: 50%;
    z-index: 1;
    width: 15px;
    height: 8px;
    right: 20px;
    content: '';
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    background: url("../../images/SelectArrow.svg") no-repeat center;

    @include respond-above(md) {
      right: 25px;
    }
  }

  &.active {
    border: 1px solid #e2e2e3;
    border-bottom: none;
    border-radius: 16px 16px 0 0;

    &:after {
      transform: translateY(-50%) rotateX(180deg);
    }
  }

  &.not-selected {
    color: $custom-grey;
  }

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.select-options {
  left: 0;
  right: 0;
  top: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
  overflow: auto;
  list-style: none;
  max-height: 200px;
  position: absolute;
  background-color: #f6f6f7;
  border: 1px solid #e2e2e3;
  border-radius: 0 0 16px 16px;

  li {
    margin: 0;
    cursor: pointer;
    padding: 12px 20px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &[rel="hide"] {
      display: none;
    }

    &:hover {
      @include respond-above(lg) {
        background-color: #dcdcdd;
      }
    }

    &.active {
      background-color: #dcdcdd;
    }

    &:last-child {
      border-radius: 0 0 16px 16px;
    }
  }
}

/* FILTERS */
.filters-chips {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px 20px 5px;
  background-color: #f6f6f7;
  justify-content: flex-start;
  border-radius: 0 0 16px 16px;
  border: 1px solid #e2e2e3;
  border-top: none;

  @include respond-above(md) {
    padding: 15px 25px 10px;
  }
}
.filter-chip {
  height: 40px;
  padding: 15px;
  display: flex;
  border-radius: 28px;
  margin-bottom: 10px;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;

  @include respond-above(md) {
    height: 48px;
    margin-right: 10px;
    padding: 15px 20px;
  }

  span {
    font-size: 12px;
    margin-right: 8px;

    @include respond-above(md) {
      font-size: 14px;
    }
  }

  img {
    width: 8px;
    height: 8px;
    cursor: pointer;

    @include respond-above(md) {
      width: 12px;
      height: 12px;
    }
  }
}

/* RADIO BUTTON */
.form-radio-group {
  display: flex;
  align-items: center;
}
.form-radio-label {
  display: flex;
  cursor: pointer;
  margin-bottom: 0;
  user-select: none;
  position: relative;
  margin-right: 40px;
  padding-left: 30px;
  align-items: center;

  .form-radio {
    &:checked {
      & ~ .form-radio-checkmark {
        background-color: $accent;

        &:after {
          opacity: 1;
        }
      }
    }
  }
}
.form-radio {
  opacity: 0;
  cursor: pointer;
  position: absolute;
}
.form-radio-checkmark {
  left: 0;
  top: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 100%;
  border: 1px solid $accent;
  transform: translateY(-50%);
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:after {
    top: 50%;
    left: 50%;
    width: 8px;
    z-index: 1;
    opacity: 0;
    height: 6px;
    content: '';
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    background: url('../images/Check.svg') no-repeat center;
  }
}

/* CHECKBOX */
.form-checkbox-label {
  display: flex;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;

  .form-checkbox {
    &:checked {
      & ~ .form-checkbox-checkmark {
        border-color: $accent;
        background-color: $accent;

        &:after {
          opacity: 1;
        }
      }
    }
  }
}
.form-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}
.form-checkbox-checkmark {
  left: 0;
  top: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #dcdcdd;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;

  &:after {
    top: 50%;
    left: 50%;
    width: 8px;
    z-index: 1;
    opacity: 0;
    height: 6px;
    content: '';
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    background: url('../images/Check.svg') no-repeat center;
  }
}

/* FILE INPUT */
.form-img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;

  @include respond-above(xl) {
    width: 150px;
    height: 150px;
  }

  img {
    object-fit: cover;
  }
}
.form-file-text {
  color: $custom-grey;

  &_title {
    font-size: 24px;

    @include respond-above(sm) {
      font-size: 32px;
    }
  }

  &_sub-title {
    line-height: 20px;
  }
}
.form-file-upload {
  width: 100%;
  height: 260px;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f7;

  @include respond-above(lg) {
    height: 334px;
  }

  img {
    width: 130px;
    height: 107px;

    @include respond-above(sm) {
      width: 180px;
      height: 150px;
    }
  }
}
.form-files-row {
  width: 100%;
  display: flex;
  overflow: auto;
  margin-top: 15px;
}

/* FILES ROW */
.form-img-wrap {
  width: 100px;
  height: 75px;
  display: flex;
  min-width: 100px;
  overflow: hidden;
  margin-right: 5px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f7;

  @include respond-above(sm) {
    margin-right: 15px;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    content: '';
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .form-file-text {
    font-size: 12px;
    text-align: center;
    color: $custom-black;
  }

  img {
    object-fit: cover;
  }
}
.btn-delete-img {
  top: 5px;
  z-index: 1;
  right: 5px;
  width: 16px;
  height: 16px;
  display: flex;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: $accent;

  img {
    width: 6px;
    height: 6px;
  }
}

/* SWITCH BUTTON */
.form-switch-label {
  margin-bottom: 0;

  .form-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;

    &:checked {
      & ~ .form-switcher {
        background-color: $accent;

        &:after {
          transform: translate(calc(100% + 8px), -50%);
        }
      }
    }
  }
}
.form-switcher {
  width: 72px;
  height: 36px;
  padding: 4px;
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 22px;
  background-color: #f6f6f7;
  transition: all 0.3s ease-in-out;

  &:after {
    top: 50%;
    left: 4px;
    z-index: 1;
    width: 28px;
    content: '';
    height: 28px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    transform: translate(0, -50%);
    transition: all 0.3s ease-in-out;
  }
}

/* TEXTS */
.form-text {
  margin-top: 0;
  line-height: 18px;
  text-align: center;
  color: $custom-grey;
  margin-bottom: 25px;

  @include respond-above(md) {
    max-width: 510px;
    margin: 0 auto 25px;
  }
}
.form-error {
  width: 100%;
  color: red;
  opacity: 0.7;
  margin-top: 10px;
  text-align: center;
}

/* EDITOR */
.form-area {
  width: 100%;
  line-height: 18px;
  padding: 15px 25px;
  position: relative;
  border-radius: 16px;
  background-color: #f6f6f7;

  &::placeholder {
    color: $custom-grey;
  }

  &::-webkit-resizer {
    display: none;
  }

  @include respond-above(xl) {
    padding: 20px 25px;
  }
}
.form-area-edit {
  display: flex;
  padding: 15px 20px;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f7;
  justify-content: flex-start;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #e2e2e3;
}

.ql-toolbar.ql-snow {
  border: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px 5px;
  background-color: #f6f6f7;
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid #e2e2e3;

  @include respond-above(sm) {
    padding: 15px 25px 5px;
  }
}
.ql-toolbar.ql-snow .ql-formats {
  margin-bottom: 10px;
}
.ql-snow .ql-picker.ql-header {
  outline: none;

  @include respond-above(sm) {
    height: 32px;
  }
}
.ql-snow .ql-picker-label {
  outline: none;
  display: flex;
  border-radius: 6px;
  align-items: center;
  background-color: rgba(36, 14, 140, 0.1);
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: transparent;
}
.ql-snow.ql-toolbar button {
  width: 24px;
  height: 24px;
  display: flex;
  min-width: 24px;
  border-radius: 6px;
  margin-right: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 14, 140, 0.1);

  @include respond-above(sm) {
    width: 32px;
    height: 32px;
  }

  &:last-child {
    margin-right: 0;
  }
}
.ql-container.ql-snow {
  border: none;
  min-height: 280px;
  background-color: #f6f6f7;
  border-radius: 0 0 16px 16px;
}
.ql-editor {
  padding: 15px 20px;

  @include respond-above(sm) {
    padding: 15px 25px;
  }

  span, p, li, h1, h2, h3, h4, h5, h6 {
    font-family: Geometria, sans-serif;
  }
}
.ql-editor.ql-blank::before {
  left: 20px;
  right: 20px;
  font-size: 14px;
  font-style: normal;
  color: $custom-grey;
  font-family: Geometria, sans-serif;

  @include respond-above(sm) {
    left: 25px;
    right: 25px;
  }
}

.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  margin-top: 0;
  transform: translateY(-50%);
}
