.how-it-works-section {
  padding-top: 50px;
  background-color: #fff;

  @include respond-above(sm) {
    padding-top: 60px;
  }

  @include respond-above(md) {
    padding-top: 80px;
  }

  @include respond-above(lg) {
    padding-top: 90px;
  }

  @include respond-above(xl) {
    padding-top: 120px;
  }

  .section-title {
    text-align: left;
    margin-left: 55px;
    margin-bottom: 30px;

    @include respond-above(sm) {
      margin-left: 0;
      margin-bottom: 25px;
    }

    @include respond-above(lg) {
      margin-bottom: 40px;
    }

    @include respond-above(xl) {
      margin-bottom: 50px;
    }
  }

  .row {
    overflow: auto;
    flex-wrap: nowrap;

    @include respond-above(sm) {
      flex-wrap: wrap;
      overflow: visible;
    }
  }

  .col-9 {
    &:nth-child(2) {
      .step-card__img {
        margin: 0 auto;
      }
    }
  }

  .step-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-above(sm) {
      flex-direction: row;
      margin-bottom: 60px;
      align-items: center;
      justify-content: space-between;
    }

    @include respond-above(lg) {
      height: 100%;
      margin-bottom: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    &__info {
      display: flex;
      margin-bottom: 15px;
      align-items: flex-start;

      @include respond-above(sm) {
        margin-bottom: 0;
        margin-right: 30px;
        align-items: center;
      }

      @include respond-above(md) {
        margin-right: 0;
        max-width: 330px;
      }

      @include respond-above(lg) {
        max-width: 100%;
        margin-bottom: 40px;
      }

      @include respond-above(xl) {
        margin-bottom: 60px;
        align-items: flex-start;
      }
    }

    &__number {
      font-weight: 700;
      font-size: 100px;
      line-height: 90px;
      margin-right: 35px;
      color: $accent-secondary;

      @include respond-above(lg) {
        margin-right: 20px;
      }

      @include respond-above(xl) {
        font-size: 120px;
        margin-right: 30px;
      }
    }

    &__desc-wrap {
      @include respond-above(md) {
        margin-bottom: 15px;
      }

      @include respond-above(lg) {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 700;

      @include respond-above(md) {
        font-size: 20px;
      }

      @include respond-above(xl) {
        font-size: 24px;
      }
    }

    &__desc {
      line-height: 18px;

      @include respond-above(xl) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__img {
      max-width: 170px;

      @include respond-above(sm) {
        max-width: 190px;
      }

      @include respond-above(md) {
        max-width: 240px;
      }

      @include respond-above(lg) {
        max-width: 85%;
      }
    }
  }
}
