.performer-links {
  display: flex;
  overflow: auto;
  margin-bottom: 15px;
  width: calc(100% + 15px);
  background-color: #ffffff;
  border-radius: 22px 0 0 22px;

  @include respond-above(sm) {
    margin-bottom: 30px;
    width: calc(100% + ((100vw - 510px) / 2));
  }

  @include respond-above(md) {
    width: calc(100% + ((100vw - 690px) / 2));
  }

  @include respond-above(lg) {
    max-width: 100%;
    border-radius: 0;
    margin: 30px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
  }

  @include respond-above(xl) {
    margin-top: 50px;
  }

  &__item {
    height: 44px;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 22px;
    justify-content: center;

    &.active {
      background-color: $accent;

      .performer-links__link {
        color: #fff;
      }
    }

    @include respond-above(lg) {
      height: auto;
      min-width: auto;
      border-radius: 0;
      margin-bottom: 35px;

      &.active {
        background-color: transparent;

        .performer-links__link {
          color: $custom-black;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 0 30px;
    text-align: center;
    color: $custom-grey;
    transition: all 0.3s ease-in-out;

    @include respond-above(lg) {
      padding: 0;
    }

    @include respond-above(xl) {
      font-size: 18px;

      &:hover {
        color: $custom-black;
      }
    }
  }
}
