.performer-portfolio-card {
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;

  &:hover {
    .performer-portfolio-card__text {
      opacity: 1;
    }
  }

  @include respond-above(sm) {
    max-width: 300px;
    margin: 0 auto 30px;
  }

  @include respond-above(md) {
    max-width: 100%;
  }

  &__text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);

    span {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-right: 10px;
    }

    img {
      width: 14px;
      height: 9px;
    }
  }

  &__image {
    height: 230px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    margin-bottom: 25px;

    @include respond-above(sm) {
      height: 220px;
    }

    @include respond-above(xl) {
      height: 250px;
    }

    img {
      object-fit: cover;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__desc {
    line-height: 18px;
  }
}
