.rate-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rate {
  width: 120px;
  height: 15px;
  mask-size: 100%;
  position: relative;
  background-size: 100%;
  mask: url('../images/Stars.svg') no-repeat center;
  background: url('../images/StarsNotFilled.svg') no-repeat center;

  span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    background-color: #f29130;
  }
}

.rate-number {
  color: #f29130;
  font-size: 16px;
  margin-left: 10px;
}
