.performer-reviews-card {
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 16px;
  margin-bottom: 15px;
  border: 1px solid #dcdcdd;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(35, 31, 32, 0.1);
  }

  @include respond-above(sm) {
    padding: 20px;
  }

  @include respond-above(md) {
    padding: 30px;
    margin-bottom: 20px;
  }

  &__title-wrap {
    display: flex;
    margin-bottom: 5px;
    align-items: flex-start;

    @include respond-above(sm) {
      margin-bottom: 15px;
    }
  }

  &__status {
    width: 16px;
    height: 16px;
    display: flex;
    min-width: 16px;
    border-radius: 50%;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    background-color: $accent;

    @include respond-above(sm) {
      width: 20px;
      height: 20px;
      min-width: 20px;
    }

    @include respond-above(md) {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }

    img {
      width: auto;
      height: auto;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;

    @include respond-above(sm) {
      font-size: 20px;
      line-height: 22px;
    }

    @include respond-above(md) {
      font-size: 24px;
    }
  }

  &__desc {
    line-height: 18px;
    margin-bottom: 20px;

    @include respond-above(lg) {
      font-size: 15px;
      margin-bottom: 25px;
    }
  }

  &__images-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: flex-start;

    img {
      width: 55px;
      height: 40px;
      min-width: 55px;
      overflow: hidden;
      margin-right: 10px;
      border-radius: 3px;

      @include respond-above(sm) {
        width: 65px;
        height: 48px;
        min-width: 65px;
      }

      @include respond-above(md) {
        margin-right: 15px;
      }

      @include respond-above(lg) {
        width: 80px;
        height: 60px;
        min-width: 80px;
      }
    }
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @include respond-above(sm) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__account-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-start;

    @include respond-above(sm) {
      margin-bottom: 0;
    }
  }

  &__account-image {
    width: 24px;
    height: 24px;
    min-width: 24px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;

    @include respond-above(lg) {
      width: 32px;
      height: 32px;
      min-width: 32px;
    }
  }

  &__account-name {
    @include respond-above(lg) {
      font-size: 15px;
    }
  }

  &__bottom-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-above(sm) {
      justify-content: flex-end;
    }
  }

  &__date {
    color: $custom-grey;

    @include respond-above(lg) {
      font-size: 15px;
    }
  }

  &__price {
    color: #f29130;
    font-size: 16px;
    font-weight: 700;

    @include respond-above(sm) {
      font-size: 20px;
      margin-left: 20px;
    }

    @include respond-above(lg) {
      font-size: 24px;
      margin-left: 30px;
    }
  }
}
