.tabs-container {
  width: 100%;
  margin: 0 auto;
  max-width: 430px;

  @include respond-above(xl) {
    max-width: 480px;
  }
}

.tab-content {
  position: relative;
  margin-bottom: 35px;

  @include respond-above(sm) {
    margin-bottom: 60px;
  }

  @include respond-above(md) {
    margin-bottom: 100px;
  }

  @include respond-above(lg) {
    margin-bottom: 35px;
  }

  @include respond-above(xl) {
    margin-bottom: 55px;
  }

  &.ltr {
    .tab-pane {
      animation: fadeInLeftOut 0.5s ease-in-out 0s 1 both;

      &.active {
        animation: fadeInRightIn 0.5s ease-in-out 0.35s 1 both;
      }
    }
  }

  &.rtl {
    .tab-pane {
      animation: fadeInLeft20 0.5s ease-in-out 0s 1 both;

      &.active {
        animation: fadeInRight20 0.5s ease-in-out 0.35s 1 both;
      }
    }
  }
}

.tab-pane {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
  display: block !important;
  transition: all 0.5s ease-in-out;

  &.active {
    z-index: 1;
    opacity: 1;
    position: relative;
    transition-delay: 0.35s;
  }
}

.nav-tabs {
  border-bottom: 0;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 30px;
  border-radius: 22px;
  background-color: #f6f6f7;

  .nav-link {
    padding: 0;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 22px;
    justify-content: center;
    background-color: transparent;
    transition: all 0.6s ease-in-out;

    @include respond-above(sm) {
      height: 44px;
    }

    &.tab-active {
      span {
        color: #fff !important;
      }
    }

    &.active {
      background-color: transparent;

      span {
        color: #fff;
      }
    }

    span {
      font-size: 12px;
      color: $custom-grey;
      mix-blend-mode: difference;
      transition: all 0.6s ease-in-out;

      @include respond-above(sm) {
        font-size: 14px;
      }
    }
  }
}

.tab-indicator {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 115px;
  position: absolute;
  border-radius: 22px;
  background-color: $accent;
  transition: all 0.5s ease-in-out;

  @include respond-above(sm) {
    width: 143px;
  }

  @include respond-above(xl) {
    width: 160px;
  }
}

.nav-item {
  z-index: 1;
  width: 100%;
  margin-bottom: 0;
  position: relative;
}
