.section-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;

  @include respond-above(sm) {
    font-size: 32px;
  }

  @include respond-above(md) {
    font-size: 40px;
  }

  @include respond-above(lg) {
    font-size: 48px;
  }

  @include respond-above(xl) {
    font-size: 64px;
  }
}

.section-desc {
  line-height: 18px;
  text-align: center;

  @include respond-above(md) {
    font-size: 16px;
  }

  @include respond-above(xl) {
    font-size: 20px;
  }
}
