#customer-start-page {
  .how-it-works-section {
    padding-top: 40px;
    background-color: transparent;

    @include respond-above(xl) {
      padding-top: 60px;
    }

    .row {
      overflow: auto;
      flex-wrap: nowrap;
      width: calc(100% + (((100vw - 540px) / 2) + 30px));

      @include respond-above(lg) {
        flex-wrap: wrap;
        overflow: visible;
        width: calc(100% + 15px);
      }
    }

    .col-9 {
      &:nth-child(3) {
        .step-card__img {
          max-width: 270px;
        }
      }
    }

    .step-card {
      margin-bottom: 0;
      flex-direction: column;
      align-items: flex-start;

      &__info {
        margin-right: 0;

        @include respond-above(md) {
          margin-bottom: 30px;
        }

        @include respond-above(lg) {
          margin-bottom: 40px;
        }

        @include respond-above(xl) {
          margin-bottom: 60px;
        }
      }
    }

    .section-title {
      margin-left: 0;

      @include respond-above(sm) {
        margin-bottom: 30px;
      }

      @include respond-above(md) {
        font-size: 40px;
        margin-bottom: 40px;
      }

      @include respond-above(lg) {
        font-size: 48px;
      }

      @include respond-above(xl) {
        font-size: 64px;
        margin-bottom: 50px;
      }
    }
  }
}

.customer-start-main-section {
  margin-bottom: 40px;
  padding-top: 0 !important;

  @include respond-above(xl) {
    margin-bottom: 60px;
  }

  .section-title {
    margin-bottom: 20px;

    @include respond-above(sm) {
      margin-bottom: 10px;
    }

    @include respond-above(md) {
      margin-bottom: 15px;
    }

    @include respond-above(lg) {
      margin-bottom: 25px;
    }
  }

  .customer-card {
    border-radius: 16px;
    background-color: #fff;
    padding: 35px 15px 20px;

    @include respond-above(sm) {
      padding: 40px 30px 30px;
    }

    @include respond-above(xl) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .form-container {
      margin: 0 auto;
      max-width: 760px;

      .row {
        width: 100%;
      }
    }
  }
}
