#deals-page {
  .title-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;

    @include respond-above(lg) {
      margin-bottom: 30px;
    }

    &__content {
      display: flex;
      align-items: center;
    }

    .form-group {
      @include respond-above(lg) {
        margin-right: 20px;
      }
    }

    .form-input {
      @include respond-above(lg) {
        background-color: #fff;
      }
    }
  }

  .section-title {
    margin-bottom: 0;
  }

  .orders-section {
    padding-top: 30px;

    @include respond-above(lg) {
      padding-top: 60px;
      padding-bottom: 55px;
    }
  }
}

.filter-btn {
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $accent;
  transition: all 0.35s ease-in-out;

  @include respond-above(lg) {
    width: auto;
    height: 56px;
    padding: 0 40px;
    border-radius: 28px;
  }

  &:hover {
    background-color: #231460;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    width: auto;
    height: auto;

    @include respond-above(lg) {
      margin-right: 10px;
    }
  }

  span {
    color: #fff;
    font-weight: 500;
  }
}

.page-pagination {
  display: flex;
  margin-top: 15px;
  align-items: center;
  flex-direction: column-reverse;

  @include respond-above(lg) {
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

    @include respond-above(lg) {
      margin-bottom: 0;
    }

    .page-pagination__link {
      &:hover {
        color: $accent-secondary;
      }
    }
  }

  &__arrow {
    width: 6px;
    height: 12px;

    &_prev {
      margin-right: 30px;
    }

    &_next {
      margin-left: 30px;
      transform: rotate(180deg);
    }
  }

  &__links-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    margin-right: 30px;
    color: $custom-black;
    transition: all 0.3s ease-in-out;

    &.active {
      color: $accent-secondary;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;

    .page-pagination__link {
      margin-right: 15px;
    }

    .select-styled {
      padding: 0;
      width: 45px;
      height: auto;
      color: $accent-secondary !important;

      &:after {
        right: 0;
        background-image: url('../images/SelectArrowYellow.svg');
      }

      &.active {
        border: none;
        border-radius: 0;
      }
    }

    .select-options {
      border: none;
      overflow: auto;
      max-height: 50px;
      border-radius: 0;

      @include respond-above(lg) {
        max-height: 55px;
      }

      li {
        padding: 0;
        margin-bottom: 10px;
        border-radius: 0 !important;
        color: $accent-secondary !important;
        background-color: transparent !important;

        &:first-child {
          margin-top: 10px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
