#main-page {
  @include respond-above(xl) {
    padding-top: 0;
  }

  .main-section {
    padding-top: 55px;
    position: relative;
    background-color: #fff;
    height: calc(100vh - 78px);

    @media screen and (min-width: 576px) and (max-height: 450px) {
      height: auto;
      padding-top: 60px;
      padding-bottom: 250px;
    }

    @include respond-above(md) {
      padding-top: 135px;
      padding-bottom: 0;
      height: calc(100vh - 120px);
    }

    @include respond-above(lg) {
      padding-top: 65px;
    }

    @include respond-above(xl) {
      display: flex;
      height: 100vh;
      padding-top: 0;
      flex-direction: column;
      justify-content: center;
    }

    @media screen and (min-width: 1199px) and (max-height: 850px) {
      height: auto;
      min-height: calc(100vh + 140px);
    }

    @media screen and (min-width: 1199px) and (max-height: 730px) {
      height: auto;
      min-height: calc(100vh + 270px);
    }

    &__tools-row {
      display: flex;
      position: relative;
      margin-bottom: 27px;
      align-items: flex-end;
      justify-content: space-between;

      @media screen and (min-width: 576px) and (max-height: 450px) {
        margin-bottom: 30px;
      }

      @include respond-above(md) {
        margin-bottom: 100px;
      }

      @include respond-above(lg) {
        margin-bottom: 25px;
      }

      @include respond-above(xl) {
        left: 0;
        right: 0;
        top: -35px;
        width: 100%;
        height: 100px;
        max-width: 85%;
        margin: 0 auto;
        position: absolute;
      }
    }

    &__tool {
      transform-origin: bottom center;

      @include respond-above(md) {
        transform: scale(1.3);
      }

      @include respond-above(xl) {
        transform: scale(2.6);
      }

      &:nth-child(1) {
        transform-origin: left bottom;
      }

      &:nth-child(2) {
        img {
          transform: translateY(-20px);

          @include respond-above(xl) {
            transform: translateY(-35px);
          }
        }
      }

      &:nth-child(3) {
        img {
          transform: translateY(-35px);

          @include respond-above(xl) {
            transform: translateY(-60px);
          }
        }
      }

      &:nth-child(4) {
        img {
          transform: translateY(-35px);

          @include respond-above(xl) {
            transform: translateY(-60px);
          }
        }
      }

      &:nth-child(5) {
        img {
          transform: translateY(-30px);

          @include respond-above(xl) {
            transform: translateY(-45px);
          }
        }
      }

      &:nth-child(6) {
        transform-origin: right bottom;
      }
    }

    &__content-wrap {
      display: flex;
      max-width: 90%;
      margin: 0 auto;
      align-items: center;
      flex-direction: column;

      @include respond-above(sm) {
        max-width: 100%;
      }

      @include respond-above(xl) {
        max-width: 1015px;
      }
    }

    .section-title {
      margin-bottom: 8px;

      @include respond-above(sm) {
        margin-bottom: 20px;
      }
    }

    .section-desc {
      margin-bottom: 35px;

      @include respond-above(lg) {
        margin-bottom: 40px;
      }

      @include respond-above(xl) {
        margin-bottom: 50px;
      }
    }

    .custom-btn {
      margin-bottom: 15px;

      @include respond-above(sm) {
        margin-bottom: 0;
      }
    }

    &__btns-wrap {
      width: 100%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      flex-direction: column;

      @include respond-above(sm) {
        max-width: 480px;
        flex-direction: row;
        justify-content: space-between;
      }

      @include respond-above(lg) {
        max-width: 500px;
      }

      @include respond-above(xl) {
        max-width: 560px;
      }
    }

    &__bottom-illustration {
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      position: absolute;
      align-items: flex-end;
      justify-content: space-between;
    }

    .customer {
      max-width: 160px;

      @include respond-above(sm) {
        max-width: 225px;
      }

      @include respond-above(md) {
        max-width: 280px;
      }

      @include respond-above(xl) {
        max-width: 440px;
      }
    }

    .worker {
      max-width: 115px;

      @include respond-above(sm) {
        max-width: 165px;
      }

      @include respond-above(md) {
        max-width: 205px;
      }

      @include respond-above(xl) {
        max-width: 320px;
      }
    }

    .hand {
      left: 50%;
      bottom: 0;
      width: 30px;
      height: 60px;
      position: absolute;
      transform: translateX(-50%);

      @include respond-above(sm) {
        width: 47px;
        height: 100px;
      }

      @include respond-above(md) {
        width: 57px;
        height: 120px;
      }

      @include respond-above(xl) {
        width: 80px;
        height: 175px;
      }
    }

    .likes-wrap {
      right: 0;
      bottom: 0;
      position: absolute;
    }

    .like {
      right: 0;
      bottom: 0;
      width: 16px;
      height: 18px;
      position: absolute;
      animation: animateLike 2.5s ease-in infinite both;

      @include respond-above(sm) {
        width: 23px;
        height: 26px;
      }

      @include respond-above(xl) {
        width: 46px;
        height: 51px;
      }

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.75s;
      }

      &:nth-child(3) {
        animation-delay: 1.5s;
      }
    }
  }
}

.services-section {
  padding: 50px 0;

  @include respond-above(sm) {
    padding: 60px 0;
  }

  @include respond-above(md) {
    padding: 80px 0;
  }

  @include respond-above(lg) {
    padding: 90px 0;
  }

  @include respond-above(xl) {
    padding: 120px 0;
  }

  .col-12 {
    &:nth-child(3) {
      .service-card {
        &__service-img {
          @include respond-above(sm) {
            right: 40px;
            height: 180px;
            max-width: 150px;
          }

          @include respond-above(md) {
            right: 105px;
            height: 220px;
            max-width: 180px;
          }

          @include respond-above(lg) {
            right: 0;
            height: 180px;
            max-width: 150px;
          }

          @include respond-above(xl) {
            height: 245px;
            max-width: 200px;
          }
        }
      }
    }

    &:nth-child(4) {
      .service-card {
        &__service-img {
          @include respond-above(md) {
            right: 20px;
            max-width: 350px;
          }

          @include respond-above(lg) {
            right: 0;
            max-width: 225px;
          }

          @include respond-above(xl) {
            max-width: 300px;
            transform: translateX(50px);
          }
        }
      }
    }
  }

  .section-title {
    margin-bottom: 20px;

    @include respond-above(sm) {
      margin-bottom: 25px;
    }

    @include respond-above(md) {
      margin-bottom: 20px;
    }

    @include respond-above(lg) {
      margin-bottom: 40px;
    }

    @include respond-above(xl) {
      margin-bottom: 30px;
    }
  }

  .service-card {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    border-radius: 16px;
    background-color: #fff;
    padding: 20px 20px 15px;

    @include respond-above(sm) {
      margin-bottom: 20px;
      padding: 30px 30px 15px;
    }

    @include respond-above(md) {
      margin-bottom: 30px;
      padding: 40px 40px 25px;
    }

    @include respond-above(lg) {
      padding: 40px 40px 30px;
    }

    &__info {
      max-width: 200px;

      @include respond-above(sm) {
        max-width: 50%;
      }

      @include respond-above(md) {
        max-width: 260px;
      }

      @include respond-above(lg) {
        max-width: 100%;
      }
    }

    &__name {
      font-size: 18px;
      font-weight: 700;

      @include respond-above(sm) {
        font-size: 24px;
        margin-bottom: 5px;
      }

      @include respond-above(xl) {
        font-size: 32px;
      }
    }

    &__description {
      overflow: hidden;
      line-height: 18px;
      margin-bottom: 50px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;

      @include respond-above(sm) {
        margin-bottom: 75px;
      }

      @include respond-above(md) {
        margin-bottom: 90px;
      }

      @include respond-above(lg) {
        max-width: 260px;
        margin-bottom: 105px;
      }
    }

    &__link {
      align-items: center;
      display: inline-flex;

      &:hover {
        span {
          &:after {
            width: 100%;
          }
        }

        img {
          transform: translateX(5px);
        }
      }

      span {
        color: $accent;
        font-weight: 500;
        position: relative;

        &:after {
          left: 0;
          width: 0;
          right: 0;
          height: 1px;
          content: '';
          bottom: -2px;
          position: absolute;
          background-color: $accent;
          transition: all 0.3s ease-in-out;
        }
      }

      img {
        width: 11px;
        margin-left: 10px;
        transition: all 0.3s ease-in-out;
      }
    }

    &__service-img {
      right: 0;
      bottom: 0;
      position: absolute;

      @include respond-above(sm) {
        width: 100%;
        max-width: 210px;
      }

      @include respond-above(md) {
        right: 50px;
        max-width: 300px;
      }

      @include respond-above(lg) {
        right: 0;
        max-width: 210px;
      }

      @include respond-above(xl) {
        max-width: 280px;
      }
    }
  }
}

.orders-section {
  padding-bottom: 50px;

  @include respond-above(sm) {
    padding-bottom: 60px;
  }

  @include respond-above(md) {
    padding-bottom: 80px;
  }

  @include respond-above(lg) {
    padding-bottom: 100px;
  }

  @include respond-above(xl) {
    padding-bottom: 120px;
  }

  .section-title {
    margin-bottom: 20px;

    @include respond-above(sm) {
      margin-bottom: 25px;
    }

    @include respond-above(md) {
      margin-bottom: 20px;
    }

    @include respond-above(lg) {
      margin-bottom: 40px;
    }

    @include respond-above(xl) {
      margin-bottom: 30px;
    }
  }

  .custom-btn {
    margin-top: 15px;

    @include respond-above(sm) {
      margin-top: 10px;
    }

    @include respond-above(lg) {
      margin-top: 20px;
    }
  }

  .order-card {
    display: flex;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 15px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: rgba(35, 31, 32, 0.1);
    }

    @include respond-above(sm) {
      margin-bottom: 20px;
    }

    &__img {
      width: 100px;
      height: 100px;
      min-width: 100px;

      @include respond-above(sm) {
        width: 140px;
        height: 140px;
        min-width: 140px;
      }

      @include respond-above(lg) {
        width: 175px;
        height: 175px;
        min-width: 175px;
      }

      img {
        object-fit: cover;
        border-radius: 6px;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 12px 15px 10px;

      @include respond-above(sm) {
        padding: 16px 15px 11px;
      }

      @include respond-above(md) {
        padding: 33px 25px 20px;
      }

      @include respond-above(lg) {
        padding: 30px 30px 20px;
      }

      @include respond-above(xl) {
        padding: 40px 40px 25px;
      }
    }

    &__address {
      width: 205px;
      font-size: 12px;
      overflow: hidden;
      margin-bottom: 5px;
      white-space: nowrap;
      color: $custom-grey;
      text-overflow: ellipsis;

      @include respond-above(sm) {
        width: 100%;
        font-size: 14px;
      }

      @include respond-above(md) {
        width: auto;
        margin-bottom: 0;
      }

      @include respond-above(lg) {
        font-size: 15px;
      }
    }

    &__price {
      font-size: 16px;
      font-weight: 700;
      text-align: right;
      color: $accent-secondary;

      @include respond-above(md) {
        font-size: 18px;
        min-width: 120px;
      }

      @include respond-above(lg) {
        font-size: 24px;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include respond-above(lg) {
        margin-bottom: 10px;
      }
    }

    &__name {
      font-size: 16px;
      font-weight: 700;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;

      @include respond-above(sm) {
        -webkit-line-clamp: 1;
      }

      @include respond-above(md) {
        font-size: 18px;
        margin-right: 25px;
      }

      @include respond-above(lg) {
        font-size: 24px;
      }
    }

    &__desc, &__time {
      font-size: 12px;

      @include respond-above(sm) {
        font-size: 14px;
      }

      @include respond-above(lg) {
        font-size: 15px;
      }
    }

    &__desc {
      @include respond-above(sm) {
        overflow: hidden;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box !important;
      }

      @include respond-above(md) {
        margin-bottom: 10px;
        line-height: 18px;
      }

      @include respond-above(lg) {
        -webkit-line-clamp: 3;
      }
    }

    &__rate {
      display: flex;
      margin-left: 10px;
      align-items: center;

      img {
        width: 12px;
        height: 12px;

        @include respond-above(sm) {
          width: 14px;
          height: 14px;
        }
      }

      span {
        font-size: 12px;
        margin-left: 5px;
        color: $custom-grey;

        @include respond-above(sm) {
          font-size: 14px;
        }
      }
    }

    &__content-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        display: flex;
        align-items: stretch;
        flex-direction: column;
      }
    }

    &__rate-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.works-list-section {
  padding-top: 50px;

  @include respond-above(sm) {
    padding-top: 60px;
  }

  @include respond-above(md) {
    padding-top: 80px;
    padding-bottom: 25px;
  }

  @include respond-above(lg) {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  @include respond-above(xl) {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .works-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;

    @include respond-above(lg) {
      font-size: 20px;
    }

    @include respond-above(xl) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  .works-list {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;

    @include respond-above(sm) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    @include respond-above(lg) {
      margin-bottom: 40px;
    }

    @include respond-above(xl) {
      margin-bottom: 35px;
    }

    &__item {
      display: flex;
      margin-bottom: 15px;
      justify-content: flex-start;

      @include respond-above(sm) {
        width: 50%;
      }

      @include respond-above(lg) {
        width: 25%;
      }

      @include respond-above(xl) {
        margin-bottom: 20px;
      }
    }

    &__link {
      color: $custom-black;
    }
  }
}

.help-section {
  padding: 50px 0;
  position: relative;
  background-color: $accent;

  @include respond-above(sm) {
    padding: 45px 0  60px;
  }

  @include respond-above(md) {
    padding: 70px 0 80px;
  }

  @include respond-above(lg) {
    padding: 90px 0 100px;
  }

  @include respond-above(lg) {
    padding: 100px 0 120px;
  }

  .section-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;

    @include respond-above(sm) {
      font-size: 24px;
      margin-bottom: 30px;
    }

    @include respond-above(md) {
      line-height: 32px;
      margin-bottom: 40px;
    }

    @include respond-above(lg) {
      width: 100%;
      font-size: 32px;
      max-width: 745px;
      line-height: 40px;
      margin: 0 auto 50px;
    }

    @include respond-above(xl) {
      max-width: none;
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 65px;
    }
  }

  .btns-row {
    @include respond-above(md) {
      width: 100%;
      display: flex;
      margin: 0 auto;
      max-width: 480px;
      flex-direction: row;
      justify-content: space-between;
    }

    @include respond-above(lg) {
      max-width: 500px;
    }

    @include respond-above(xl) {
      max-width: 545px;
    }
  }

  .custom-btn {
    margin-bottom: 20px;

    @include respond-above(sm) {
      margin-bottom: 25px;
    }

    @include respond-above(md) {
      margin: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .person-img {
    bottom: 0;
    z-index: 6;
    position: absolute;

    &.left-person {
      left: 15px;
      max-width: 80px;

      @include respond-above(sm) {
        left: 0;
        max-width: 120px;
      }

      @include respond-above(lg) {
        left: 30px;
        max-width: 140px;
      }

      @include respond-above(xl) {
        left: 80px;
        max-width: 220px;
      }
    }

    &.right-person {
      right: 0;
      max-width: 105px;

      @include respond-above(sm) {
        max-width: 160px;
      }

      @include respond-above(lg) {
        right: 30px;
        max-width: 185px;
      }

      @include respond-above(xl) {
        right: 80px;
        max-width: 290px;
      }
    }
  }
}
