.performer-reviews-main-section {
  .section-title {
    margin-bottom: 20px;

    @include respond-above(sm) {
      margin-bottom: 15px;
    }

    @include respond-above(lg) {
      margin-bottom: 25px;
    }
  }

  .performer-reviews-wrap {
    border-radius: 16px;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 35px 15px 15px;

    @include respond-above(sm) {
      padding: 40px 30px 25px;
    }

    @include respond-above(md) {
      padding: 40px 40px 25px;
    }

    @include respond-above(lg) {
      margin-bottom: 60px;
      padding-bottom: 20px;
    }

    @include respond-above(xl) {
      padding: 50px 60px 30px;
      margin-bottom: 115px;
    }
  }

  .performer-reviews-cards-wrap {
    display: flex;
    flex-direction: column;
  }
}
