.performer-portfolio-main-section {
  .section-title {
    margin-bottom: 20px;
    
    @include respond-above(sm) {
      margin-bottom: 15px;
    }
    
    @include respond-above(md) {
      font-size: 32px;
    }
    
    @include respond-above(lg) {
      margin-bottom: 25px;
    }
  }
  
  .performer-portfolio-wrap {
    border-radius: 16px;
    margin-bottom: 40px;
    padding: 35px 15px 0;
    background-color: #fff;
    
    @include respond-above(sm) {
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
    @include respond-above(xl) {
      padding-top: 50px;
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .form-group {
    &:not(.form-file-group) {
      @include respond-above(sm) {
        max-width: 300px;
      }

      @include respond-above(xl) {
        max-width: 380px;
      }
    }
  }

  .form-container {
    margin-bottom: 30px;


    @include respond-above(sm) {
      max-width: 445px;
      margin: 0 auto 30px;
    }
    
    @include respond-above(lg) {
      margin-bottom: 40px;
    }
  }
}
