.performer-password-main-section {
  height: calc(100vh - 78px);

  @include respond-above(sm) {
    height: auto;
    margin-bottom: 90px;
  }

  @include respond-above(md) {
    margin-bottom: 0;
    height: calc(100vh - 120px);
  }

  @include respond-above(xl) {
    height: calc(100vh - 140px);
  }

  .performer-password-wrap {
    border-radius: 16px;
    padding: 35px 15px 30px;
    background-color: #ffffff;

    @include respond-above(sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include respond-above(xl) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .section-title {
    @include respond-above(md) {
      font-size: 32px;
    }
  }

  .section-sub-title {
    max-width: 360px;
    line-height: 18px;
    text-align: center;
    color: $custom-grey;
    margin: 0 auto 30px;

    @include respond-above(xl) {
      line-height: 20px;
      margin-bottom: 40px;
    }
  }
}
