.performer-profile-card {
  padding: 15px;
  border-radius: 16px;
  margin-bottom: 15px;
  background-color: #ffffff;

  @include respond-above(sm) {
    padding: 30px;
    margin-bottom: 30px;
  }

  &_top {
    @include respond-above(md) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
    }

    @include respond-above(lg) {
      padding: 20px;
      align-items: stretch;
      flex-direction: column;
    }

    @include respond-above(xl) {
      padding: 30px;
      margin-bottom: 0;
    }

    .custom-btn {
      margin-left: 0;
      margin-bottom: 20px;

      @include respond-above(sm) {
        margin-bottom: 30px;
      }

      @include respond-above(md) {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: auto;
      }

      @include respond-above(lg) {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 30px;
      }
    }
  }

  &_bottom {
    padding-top: 20px;
    margin-bottom: 40px;

    @include respond-above(sm) {
      padding-top: 30px;
    }

    @include respond-above(md) {
      margin-bottom: 60px;
    }

    @include respond-above(xl) {
      padding: 40px;
    }
  }

  &__info-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include respond-above(md) {
      flex: 0 0 60%;
      margin-bottom: 30px;
    }

    @include respond-above(lg) {
      flex: none;
      margin-bottom: 15px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include respond-above(xl) {
      margin-bottom: 25px;
    }
  }

  &__avatar {
    width: 100px;
    height: 100px;
    min-width: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;

    @include respond-above(sm) {
      width: 140px;
      height: 140px;
      min-width: 140px;
      margin-right: 30px;
    }

    @include respond-above(lg) {
      width: 100%;
      height: 250px;
      margin-right: 0;
      min-width: 100%;
      position: relative;
      margin-bottom: 30px;
    }

    @include respond-above(xl) {
      height: 290px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__account-info {
    display: flex;
    flex-direction: column;

    @include respond-above(lg) {
      width: 100%;
    }

    .rate-wrap {
      margin-bottom: 0;
    }
  }

  &__online {
    font-size: 12px;
    margin-bottom: 7px;
    color: rgba(0, 0, 0, 0.4);

    @include respond-above(sm) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;

    @include respond-above(sm) {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  &__detailed-info-list {
    display: flex;
    flex-direction: column;

    @include respond-above(sm) {
      overflow: auto;
      flex-direction: row;
      align-items: flex-start;
      width: calc(100% + 30px);
    }

    @include respond-above(lg) {
      width: 100%;
      overflow: hidden;
      flex-direction: column;
    }
  }

  &__detailed-info-list-item {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;

    @include respond-above(sm) {
      flex: 1 0 auto;
      margin-bottom: 0;
      margin-right: 30px;
      flex-direction: column;
    }

    @include respond-above(md) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .performer-profile-card__info-text_name {
      flex: 0 0 35%;

      @include respond-above(sm) {
        flex: 0 0 100%;
        margin-bottom: 5px;
      }
    }
  }

  &__info-text {
    &_name {
      font-weight: 700;
    }
  }
  /* TOP CONTENT */

  /* BOTTOM CONTENT */
  &__category {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;

    @include respond-above(md) {
      margin-bottom: 30px;
    }

    &:after {
      right: 0;
      bottom: 0;
      left: -15px;
      height: 1px;
      content: '';
      position: absolute;
      width: calc(100% + 30px);
      background-color: #e2e2e3;

      @include respond-above(sm) {
        left: -30px;
        width: calc(100% + 60px);
      }

      @include respond-above(xl) {
        left: -40px;
        width: calc(100% + 80px);
      }
    }

    &:last-child {
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    .custom-btn {
      margin-left: auto;
      margin-bottom: 30px;
    }
  }

  &__categort-row {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;

    @include respond-above(sm) {
      flex-direction: row;
      margin-bottom: 20px;
      align-items: center;
      justify-content: space-between;

      .performer-profile-card__category-title {
        margin-bottom: 0;
      }
    }
  }

  &__category-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;

    @include respond-above(sm) {
      font-size: 20px;
    }

    @include respond-above(xl) {
      font-size: 24px;
    }
  }

  &__category-desc {
    line-height: 18px;
    margin-bottom: 10px;

    @include respond-above(sm) {
      margin-bottom: 20px;
    }
  }

  &__skills-wrap {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;

    @include respond-above(sm) {
      margin-bottom: 10px;
    }
  }

  &__skills-title {
    color: $custom-grey;
    margin-bottom: 8px;

    @include respond-above(sm) {
      margin-bottom: 15px;
    }
  }

  &__skills-chips-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__skill-chip {
    display: flex;
    height: 40px;
    padding: 0 20px;
    margin-right: 10px;
    align-items: center;
    border-radius: 28px;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #f6f6f7;

    @include respond-above(xl) {
      height: 44px;
      padding: 0 25px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }

    span {
      font-size: 12px;
    }
  }

  .slider-wrap {
    position: relative;
  }

  .slider {
    width: calc(100% + 15px);

    @include respond-above(md) {
      left: -15px;
      position: relative;
      width: calc(100% + 30px);
    }
  }

  .slick-slide {
    padding-right: 15px;

    @include respond-above(md) {
      padding: 0 15px;
    }

    @include respond-above(xl) {
      padding: 0 10px;
    }
  }

  .slider-arrows-wrap {
    display: flex;
    cursor: pointer;
    align-items: center;

    @include respond-above(sm) {
      right: 0;
      top: -30px;
      z-index: 1;
      position: absolute;
    }
  }

  .slider-arrow {
    display: flex;
    margin-right: 20px;
    align-items: center;

    @include respond-above(sm) {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    &_next {
      flex-direction: row-reverse;

      img {
        margin-left: 10px;
        transform: rotate(180deg);
        margin-right: 0 !important;
      }
    }

    img {
      width: 6px;
      height: auto;
      min-width: 6px;
      margin-right: 10px;
    }

    span {
      color: $custom-grey;
    }
  }

  .performer-portfolio-card {
    margin-bottom: 0;

    @include respond-above(sm) {
      max-width: 100%;
      margin-top: 10px;
    }

    &__image {
      @include respond-above(sm) {
        height: auto;
      }
    }
  }
}
