.performer-recommend {
  &_info {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 16px;
    padding: 25px 10px 30px;
    background-color: #ffffff;

    @include respond-above(sm) {
      padding: 25px 30px 30px;
      margin-bottom: 30px;
    }

    @include respond-above(md) {
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 40px;
    }
    
    @include respond-above(lg) {
      margin-bottom: 0;
      padding: 25px 10px 30px;
    }
    
    @include respond-above(xl) {
      max-width: 225px;
      margin: 0 auto 0 0;
    }

    .performer-recommend__desc {
      font-size: 12px;
      line-height: 14px;

      a {
        color: $accent;
        cursor: pointer;
      }
    }
  }

  &_thank {
    padding: 35px 12px 40px;
    background-color: $accent;
    border-radius: 16px 16px 0 0;

    @include respond-above(sm) {
      padding: 35px 30px 40px;
    }

    .performer-recommend__title {
      color: #fff;
      margin-bottom: 10px;

      @include respond-above(sm) {
        font-size: 24px;
      }
    }

    .performer-recommend__desc {
      color: #fff;
      line-height: 18px;
      margin-bottom: 30px;

      @include respond-above(md) {
        max-width: 430px;
        margin: 0 auto 30px;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  &__desc {
    text-align: center;
  }
}

.performer-info-main-section {
  .performer-info-wrap {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 35px 15px 20px;
    border-radius: 0 0 16px 16px;

    @include respond-above(sm) {
      padding-top: 40px;
    }

    @include respond-above(md) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 60px;
      padding-bottom: 30px;
    }

    @include respond-above(xl) {
      padding-top: 50px;
    }

    &.full-border {
      border-radius: 16px;
    }

    .tabs-container {
      @include respond-above(md) {
        max-width: 100%;
        padding: 0 40px;
      }
    }

    .tab-indicator {
      width: 105px;

      @include respond-above(sm) {
        width: 143px;
      }
    }

    .nav-tabs {
      margin-bottom: 25px;

      @include respond-above(md) {
        max-width: 430px;
        margin: 0 auto 25px;
      }

      @include respond-above(xl) {
        margin-bottom: 35px;
      }
    }

    .tab-content {
      margin-bottom: 0;

      .section-title {
        margin-bottom: 10px;

        @include respond-above(sm) {
          font-size: 20px;
        }

        @include respond-above(md) {
          margin-bottom: 15px;
        }

        @include respond-above(xl) {
          font-size: 24px;
        }
      }

      .performer-tab-info {
        .section-title {
          margin-bottom: 20px;

          @include respond-above(sm) {
            font-size: 32px;
          }
        }
      }
    }

    .form-container {
      max-width: 100%;

      @include respond-above(sm) {
        max-width: 300px;
      }

      @include respond-above(xl) {
        max-width: 380px;
      }
    }

    .form-radio-group {
      margin-bottom: 25px;
    }

    .form-file-group {
      margin-bottom: 30px;

      @include respond-above(xl) {
        margin-bottom: 35px;
      }
    }
  }

  .disable-profile {
    color: #9e9e9f;
    margin-top: 10px;
    background-color: transparent;
  }

  #skills {
    .form-group {
      &:first-child {
        margin-bottom: 25px;

        @include respond-above(md) {
          max-width: 300px;
          margin-bottom: 30px;
        }

        @include respond-above(xl) {
          max-width: 380px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.with-label {
        margin-top: 35px;
      }
    }

    .form-label {
      top: -35px;
    }

    .form-container {
      max-width: 100%;
    }

    .form-checkbox-group {
      @include respond-above(md) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }

    .form-checkbox-label {
      @include respond-above(md) {
        width: 50%;
      }

      @include respond-above(xl) {
        width: 33.33333%;
      }
    }
  }

  #description {
    padding-bottom: 25px;

    @include respond-above(lg) {
      padding-bottom: 0;
    }

    .additional-description {
      line-height: 18px;
      color: $custom-grey;
      margin-bottom: 15px;
    }

    .form-container {
      max-width: 100%;

      @include respond-above(xl) {
        margin: 0 auto;
        max-width: 625px;
      }
    }
  }
}
