#phone-recovery-page {
  background-color: #fff;
  
  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 78px);

    @include respond-above(sm) {
      min-height: calc(100vh - 100px);
    }

    @include respond-above(md) {
      min-height: calc(100vh - 120px);
    }

    @include respond-above(xl) {
      min-height: calc(100vh - 140px);
    }

    .section-title {
      margin-bottom: 10px;

      @include respond-above(md) {
        font-size: 32px;
      }

      @include respond-above(xl) {
        font-size: 40px;
      }
    }

    .section-desc {
      margin-bottom: 30px;

      @include respond-above(sm) {
        max-width: 350px;
        margin: 0 auto 30px;
      }

      @include respond-above(md) {
        font-size: 14px;
      }

      @include respond-above(xl) {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 45px;
      }
    }

    .form-container {
      max-width: 220px;

      @include respond-above(xl) {
        max-width: 255px;
      }
    }

    .form-group-code {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .form-input {
      width: 100%;
    }

    .code-input {
      padding: 0;
      width: 48px;
      height: 48px;
      display: flex;
      min-width: 48px;
      text-align: center;
      border-radius: 7px;
      align-items: center;
      justify-content: center;
      background-color: #f6f6f7;

      @include respond-above(xl) {
        width: 56px;
        height: 56px;
        min-width: 56px;
      }
    }
  }
}
