#registration-page {
  background-color: #fff;
  
  .main-section {
    height: auto;
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;

    @include respond-above(sm) {
      padding-top: 45px;
    }

    @include respond-above(md) {
      padding-top: 50px;
    }

    .section-title {
      margin-bottom: 10px;

      @include respond-above(xl) {
        margin-bottom: 15px;
      }
    }

    .section-desc {
      margin-bottom: 30px;
    }

    .form-file-group {
      margin-bottom: 25px;
    }

    .registration-credentials {
      width: 100%;
      display: flex;
      margin-bottom: 25px;
      justify-content: center;

      p {
        color: #9e9e9f;
        margin-right: 5px;

        &:after {
          content: ',';
        }

        &:last-child {
          margin-right: 0;

          &:after {
            content: '';
          }
        }
      }
    }

    .custom-btn {
      margin-bottom: 25px;
    }

    .agreement-row {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: 16px;
        height: 16px;
        min-width: 16px;
        cursor: pointer;
        margin-right: 10px;
      }

      a {
        color: $accent;
      }
    }
  }
}