html, body {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: $custom-black;
  background-color: $custom-light-grey;
  font-family: 'Geometria', sans-serif;

  @include respond-above(xl) {
    font-size: 15px;
  }
}

* {
  &.full-width {
    width: 100% !important;
    min-width: 100% !important;
  }

  &.m-w-120 {
    max-width: 120px;
  }

  &.m-w-300 {
    max-width: 300px;
  }

  &.m-w-xl-150 {
    @include respond-above(xl) {
      max-width: 150px;
    }
  }

  &.m-w-xl-380 {
    @include respond-above(lg) {
      max-width: 380px;
    }
  }

  &.is-link {
    position: relative;
    transition: all 0.3s ease-in-out;

    &:before {
      left: 0;
      right: 0;
      width: 0;
      bottom: 0;
      content: '';
      height: 1px;
      position: absolute;
      background-color: $accent;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: $accent !important;

      &:before {
        width: 100%;
      }
    }
  }
}

input, button, textarea, select, option {
  padding: 0;
  border: none;
  outline: none !important;
}

a, p {
  margin-bottom: 0;
  text-decoration: none !important;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  position: relative;
}

img, svg {
  width: 100%;
  height: 100%;
  display: block;
}

main {
  overflow: hidden;
  padding-top: 78px;

  @include respond-above(sm) {
    padding-top: 100px;
  }

  @include respond-above(md) {
    padding-top: 120px;
  }

  @include respond-above(xl) {
    padding-top: 140px;
  }
}

.form-group {
  margin-bottom: 0;
  position: relative;
}

.container, .container-fluid {
  z-index: 5;
  position: relative;
}

.container-fluid {
  @include respond-above(sm) {
    padding: 0 45px;
  }

  @include respond-above(md) {
    padding: 0 40px;
  }

  @include respond-above(lg) {
    padding: 0 47px;
  }

  @include respond-above(xl) {
    padding: 0 60px;
  }
}

.slick-slide {
  outline: none !important;
}

.select-hidden {
  visibility: hidden;
  display: none !important;
}

.select-options {
  display: none;
}

[id*='performer-'], [id*='customer-'] {
  section {
    padding-top: 15px;

    @include respond-above(sm) {
      padding-top: 30px;
    }

    @include respond-above(lg) {
      padding-top: 40px;
    }

    .section-title {
      @include respond-above(md) {
        font-size: 32px;
      }
    }
  }
}
