@keyframes animateLike {
  from {
    opacity: 0;
    bottom: 90px;
    right: 130px;
    transform: rotate(-30deg) scale(1);
  }

  to {
    opacity: 1;
    right: -40px;
    bottom: 230px;
    transform: rotate(10deg) scale(2);
  }
}

@include respond-above(sm) {
  @keyframes animateLike {
    from {
      opacity: 0;
      bottom: 141px;
      right: 210px;
      transform: rotate(-30deg) scale(1);
    }

    to {
      opacity: 1;
      right: -50px;
      bottom: 270px;
      transform: rotate(10deg) scale(2);
    }
  }
}

@include respond-above(md) {
  @keyframes animateLike {
    from {
      opacity: 0;
      bottom: 160px;
      right: 210px;
      transform: rotate(-30deg) scale(1);
    }

    to {
      opacity: 1;
      right: -30px;
      bottom: 340px;
      transform: rotate(10deg) scale(2);
    }
  }
}

@include respond-above(xl) {
  @keyframes animateLike {
    from {
      opacity: 0;
      right: 420px;
      bottom: 255px;
      transform: rotate(-30deg) scale(1);
    }

    to {
      opacity: 1;
      right: -60px;
      bottom: 550px;
      transform: rotate(10deg) scale(2.2);
    }
  }
}

@keyframes fadeInRight20 {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes fadeInLeft20 {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(20px);
  }
}

@keyframes fadeInLeftOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20px);
  }
}

@keyframes fadeInRightIn {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0px);
  }
}
