mixin accountNav(activeIndex, accountType)
	-
		var pages = [
			{
				link: 'info',
				title: 'Общая информация'
			},
			{
				link: 'portfolio',
				title: 'Портфолио'
			},
			{
				link: 'password',
				title: 'Изменить пароль'
			},
			{
				link: 'reviews',
				title: 'Отзывы'
			},
			{
				link: 'profile',
				title: 'Публичный профиль'
			}
		]

	ul.performer-links
		if accountType === 'customer'
			- pages.splice(1, 1)
		each page, index in pages
			li.performer-links__item(class=index + 1 === activeIndex ? 'active' : '')
				a.performer-links__link(href=`/${accountType}-${page.link}.html`)=page.title