mixin breadcrumbs(crumbs)
	.breadcrumbs
		each crumb, index in crumbs
			p.breadcrumbs__item(class=`${crumb.active ? 'active' : ''}`)
				span=crumb.name
				if index !== (crumbs.length - 1)
					span >>