mixin reviews(reviewsList)
	each review in reviewsList
		.performer-reviews-card
			.rate-wrap
				.rate
					span(style=`width: calc(${(review.rate * 100) / 5}%)`)
				p.rate-number=review.rate
			.performer-reviews-card__title-wrap
				.performer-reviews-card__status
					img(src="/images/Check.svg" alt="Status")
				p.performer-reviews-card__title=review.title
			p.performer-reviews-card__desc=review.desc
			.performer-reviews-card__images-row
				each image in review.images
					img(src=image alt="Review")
			.performer-reviews-card__content-wrap
				.performer-reviews-card__account-info
					.performer-reviews-card__account-image
						img(src=review.reviewer.profile alt="Reviewer")
					p.performer-reviews-card__account-name=review.reviewer.name
				.performer-reviews-card__bottom-info
					p.performer-reviews-card__date=review.date
					p.performer-reviews-card__price=`${review.price}$`