mixin searchField()
	form.search-form(action="/" data-form-ajax method="POST")&attributes(attributes)
		.form-group.header-search-input
			img.search-icon(src="/images/InputSearch.svg" alt="Search")
			input(type="text" placeholder="Что нужно сделать?")
			button.search-btn(type="submit")
				img(src="/images/SendIcon.svg" alt="Search")