.filters-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 999;
  position: fixed;
  visibility: hidden;
  padding: 70px 15px 15px;
  transition: all 0.5s ease-in-out;

  @include respond-above(md) {
    padding: 0;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &__background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
    background-color: rgba(35, 31, 32, 0.5);
  }

  &__close {
    top: 15px;
    z-index: 1;
    right: 15px;
    position: absolute;
    margin-bottom: 15px;
    margin-right: 0 !important;

    @include respond-above(md) {
      left: 0;
      right: auto;
      margin-bottom: 0 !important;
    }
  }

  &__body {
    z-index: 1;
    height: 100%;
    overflow: auto;
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    padding: 20px 15px 15px;

    @include respond-above(md) {
      top: 0;
      left: 0;
      height: auto;
      width: 720px;
      max-width: 720px;
      overflow: visible;
      position: absolute;
      padding: 35px 30px 20px;
    }
  }

  .form-container {
    flex-direction: row;
  }

  .form-group {
    &:nth-child(1) {
      margin-right: 5px;
      width: calc(50% - 5px);
    }

    &:nth-child(2) {
      margin-left: 5px;
      width: calc(50% - 5px);
    }
  }
}
