.footer {
  padding: 40px 0 0;
  border-top: 1px solid #e2e2e3;

  @include respond-above(md) {
    padding-top: 60px;
  }

  &__logo {
    width: 140px;
    height: 60px;
    display: block;
    margin-bottom: 30px;

    @include respond-above(md) {
      width: 120px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;

    @include respond-above(md) {
      font-size: 20px;
      margin-bottom: 25px;
    }

    @include respond-above(xl) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__links-list {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 15px;
    }

    @include respond-above(lg) {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__links-item {
    display: flex;
    justify-content: flex-start;
  }

  &__link {
    display: flex;
    margin-bottom: 15px;
    color: $custom-black;

    @include respond-above(xl) {
      margin-bottom: 20px;
    }
  }

  &__address-wrap {
    margin-bottom: 20px;

    @include respond-above(md) {
      margin-bottom: 25px;
    }

    .footer__link {
      margin-bottom: 0;
    }
  }

  &__address-info {
    font-weight: 700;
    color: $custom-black;

    @include respond-above(md) {
      font-size: 16px;
    }

    @include respond-above(xl) {
      font-size: 18px;
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    @include respond-above(md) {
      margin-bottom: 0;
    }
  }

  &__social-link {
    margin-right: 30px;
  }

  &__copyright-row {
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 6px;
    flex-direction: column;
    border-top: 1px solid #e2e2e3;

    @include respond-above(sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include respond-above(md) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include respond-above(xl) {
      margin-top: 20px;
    }
  }

  &__copyright-text {
    color: $custom-grey;

    a {
      color: inherit;
    }
  }
}
