.global-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  position: fixed;
  padding-top: 85px;
  visibility: hidden;
  background-color: #fff;
  clip-path: inset(0 0 100% 0);
  transition: all 0.6s ease-in-out;

  @include respond-above(sm) {
    padding-top: 100px;
  }

  @include respond-above(md) {
    padding-top: 0;
  }

  &.show {
    visibility: visible;
    clip-path: inset(0);
  }

  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    @include respond-above(md) {
      justify-content: center;
    }
  }

  .custom-btn {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @include respond-above(sm) {
      margin-bottom: 0;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__links-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__links-item {
    margin-bottom: 45px;

    @include respond-above(md) {
      margin-bottom: 60px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 700;
    color: $custom-black;

    @include respond-above(sm) {
      font-size: 32px;
    }

    @include respond-above(md) {
      font-size: 40px;
    }
  }

  &__btns-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;

    @include respond-above(sm) {
      flex-direction: row;
      margin-bottom: 60px;
    }

    @include respond-above(md) {
      left: 50%;
      bottom: 60px;
      margin-bottom: 0;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}
