.header {
  top: 0;
  left: 0;
  right: 0;
  height: 78px;
  z-index: 999;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: #fff;
  transition: all 0.5s ease-in-out 0.5s;

  &.hide {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
  }

  &.active {
    transition-delay: 0s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);

    @include respond-above(sm) {
      height: 90px;
    }
  }

  @include respond-above(sm) {
    height: 100px;
  }

  @include respond-above(md) {
    height: 120px;
    transition-delay: 0s;

    .form-group {
      margin-left: 35px;
    }
  }

  @include respond-above(xl) {
    height: 140px;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__content-wrap {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 115px;
    height: 50px;
    display: block;

    @include respond-above(sm) {
      width: 137px;
      height: 60px;
    }

    @include respond-above(xl) {
      width: 182px;
      height: 80px;

      .form-group {
        margin-left: 60px;
      }
    }
  }

  &__actions-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__action {
    margin-left: 20px;
    transition: all 0.5s ease-in-out;

    @include respond-above(md) {
      margin-left: 30px;
    }

    &.hide {
      opacity: 0;
      visibility: hidden;
    }

    &_menu {
      position: relative;

      &.active {
        .header__action-icon {
          span {
            top: 50%;
            position: absolute;
            transform: translateY(-50%);

            &:nth-child(1) {
              opacity: 0;
              transform: translateY(-50%);
            }

            &:nth-child(2) {
              transform: translateY(-50%) rotate(45deg);
            }

            &:nth-child(3) {
              transform: translateY(-50%) rotate(-45deg);
            }

            &:nth-child(4) {
              opacity: 0;
              transform: translateY(-50%);
            }
          }
        }
      }

      .header__action-icon {
        span {
          top: 50%;
          left: 10px;
          right: 10px;
          height: 2px;
          position: absolute;
          border-radius: 1px;
          background-color: #fff;
          transform: translateY(-50%);
          transition: all 0.5s ease-in-out;

          &:nth-child(1) {
            transform: translateY(calc(-50% + 7px));
          }

          &:nth-child(4) {
            transform: translateY(calc(-50% - 7px));
          }

          @include respond-above(sm) {
            left: 12px;
            right: 12px;
          }
        }
      }
    }
  }

  &__action-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $accent;

    @include respond-above(sm) {
      width: 48px;
      height: 48px;
      padding: 12px;
    }
  }
}

.header-search {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 78px;
  z-index: 999;
  display: flex;
  position: fixed;
  visibility: hidden;
  align-items: center;
  background-color: #fff;
  transition: all 0.5s ease-in-out 0s;

  &.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
  }
}

.header-search-input {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;

  .search-icon {
    top: 50%;
    z-index: 1;
    left: 20px;
    width: 16px;
    height: 16px;
    position: absolute;
    transform: translateY(-50%);
  }

  .search-btn {
    top: 50%;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: $accent;
    transform: translateY(-50%);

    img {
      width: 17px;
      height: 16px;
    }
  }

  input {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 46px;
    align-items: center;
    border-radius: 24px;
    background-color: #f6f6f7;

    &::placeholder {
      opacity: 0.4;
      color: #1a1a1a;
    }
  }
}

@include respond-above(xl) {
  .header {
    &__link {
      margin-left: 40px;
      color: $custom-black;
      background-color: transparent;

      &:hover {
        color: inherit;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &__links-wrap {
      display: flex;
      margin-right: 40px;
      align-items: center;
    }

    &__account-info {
      cursor: pointer;
      align-items: center;
      justify-content: flex-end;
    }

    &__account-profile {
      width: 32px;
      height: 32px;
      min-width: 32px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 15px;
    }

    &__account-actions {
      display: flex;
      align-items: center;

      .header__link {
        margin-left: 0;
      }

      .custom-btn {
        margin-right: 40px;
      }
    }
  }
}
