.modal {
  .container-fluid {
    height: 100%;
    padding: 0 15px;
  }

  .row {
    height: 100%;
  }

  .col-12 {
    height: 100%;
  }
}

.modal-backdrop {
  backdrop-filter: blur(6px);
  background-color: rgba(35, 31, 32, 0.5);

  &.show {
    opacity: 1;
  }
}

.modal-dialog {
  margin: 15px;

  @include respond-above(sm) {
    margin: 30px auto;
  }

  @include respond-above(md) {
    max-width: 100%;
    margin: 30px 40px;
    min-height: calc(100% - 60px);
  }

  @include respond-above(lg) {
    margin: 60px 47px;
    height: calc(100% - 120px);
    min-height: calc(100% - 120px);
  }

  @include respond-above(xl) {
    max-width: 1100px;
    margin: 60px auto;
  }
}

.modal-content {
  border: none;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 16px;

  @include respond-above(lg) {
    min-height: 650px;
  }

  @include respond-above(xl) {
    min-height: 705px;
  }
}

.modal-header {
  top: 0;
  right: 0;
  z-index: 6;
  padding: 0;
  border: none;
  display: flex;
  position: absolute;
  justify-content: flex-end;

  @include respond-above(sm) {
    top: 15px;
    right: 15px;
  }

  .close {
    margin: 0;
    padding: 15px;
    opacity: 1 !important;
  }
}

.modal-body {
  padding: 0;
  height: 100%;
}

.col-top-content {
  display: flex;
  padding: 45px 15px 0;
  flex-direction: column;
  justify-content: center;

  @include respond-above(sm) {
    padding: 60px 15px 0;
  }

  @include respond-above(lg) {
    order: 1;
    padding: 105px 15px;
  }

  @include respond-above(xl) {
    padding: 115px 15px;
  }

  .modal-title {
    margin-bottom: 20px;

    @include respond-above(sm) {
      margin-bottom: 15px;
    }

    @include respond-above(md) {
      margin-bottom: 10px;
    }
  }

  .modal-sub-title {
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .custom-btn {
    @include respond-above(xl) {
      width: 260px;
    }
  }
}

.col-bottom-content {
  display: flex;
  position: relative;
  padding: 110px 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f7;

  @include respond-above(md) {
    padding: 130px 15px;
  }

  .modal-title {
    margin-bottom: 10px;

    @include respond-above(sm) {
      margin-bottom: 5px;
    }
  }

  .modal-sub-title {
    margin-bottom: 30px;

    @include respond-above(sm) {
      max-width: 365px;
      margin: 0 auto 30px;
    }

    @include respond-above(lg) {
      max-width: 300px;
    }
  }
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;

  @include respond-above(sm) {
    font-size: 32px;
  }

  @include respond-above(xl) {
    font-size: 40px;
  }
}

.modal-sub-title {
  text-align: center;

  a {
    color: $accent;
    font-weight: 500;
  }
}

.modal-socials {
  width: 100%;
  display: flex;
  max-width: 190px;
  margin: 0 auto 25px;
  align-items: center;
  justify-content: space-between;

  @include respond-above(md) {
    margin-bottom: 35px;
  }

  @include respond-above(lg) {
    max-width: 250px;
    margin-bottom: 40px;
  }
}

.modal-link {
  @include respond-above(lg) {
    width: 65px;
    height: 65px;
    min-width: 65px;
    overflow: hidden;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;

    &:hover {
      &.modal-link__fb {
        background-color: #3b5998;

        path {
          fill: #fff;
          stroke: #3b5998;
        }
      }

      &.modal-link__google {
        background-color: #d34836;

        path {
          fill: #fff;
          stroke: #d34836;
        }
      }

      &.modal-link__apple {
        background-color: #030707;

        path {
          fill: #fff;
          stroke: #030707;
        }
      }
    }

    path {
      transition: all 0.3s ease-in-out;
    }
  }
}

.modal-form {
  width: 100%;
  display: flex;
  max-width: 220px;
  margin: 0 auto 40px;
  align-items: center;
  flex-direction: column;

  input {
    width: 100%;
    margin-bottom: 15px;
  }

  @include respond-above(md) {
    margin-bottom: 60px;
  }

  @include respond-above(lg) {
    margin-bottom: 0;
  }

  @include respond-above(xl) {
    max-width: 260px;
  }
}

.modal-form-link {
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  background-color: transparent;

  .text {
    margin-right: 5px;
    color: $custom-black;
  }

  .link {
    color: $accent;
  }
}

.modal-img-hats {
  top: 25px;
  left: 50%;
  z-index: 1;
  margin: 0 auto;
  max-width: 210px;
  position: absolute;
  transform: translateX(-50%);

  @include respond-above(sm) {
    max-width: 255px;
  }

  @include respond-above(md) {
    top: 30px;
    max-width: 300px;
  }

  @include respond-above(lg) {
    width: 77%;
    max-width: none;
  }

  @include respond-above(xl) {
    top: 40px;
  }
}

.modal-img-illustration {
  bottom: 0;
  z-index: 1;
  right: 30px;
  max-width: 140px;
  position: absolute;

  @include respond-above(md) {
    max-width: 160px;
  }

  @include respond-above(lg) {
    left: 50%;
    right: auto;
    width: 280px;
    max-width: none;
    transform: translateX(-50%);
  }
}

.success-icon {
  width: 48px;
  height: 48px;
  margin: 0 auto 25px;

  @include respond-above(xl) {
    margin-bottom: 30px;
  }
}

.modal-slider {
  margin-top: 25px;
  position: relative;

  @include respond-above(xl) {
    margin-top: 30px;
  }

  .slider {
    padding-bottom: 25px;

    @include respond-above(xl) {
      padding-bottom: 35px;
    }
  }

  .slick-slide {
    display: flex;
  }

  .slide {
    height: 100%;
    overflow: hidden;
    border-radius: 12px;

    @include respond-above(xl) {
      border-radius: 32px;
    }
  }
}

.modal-slider-arrow {
  z-index: 2;
  width: 11px;
  height: 20px;
  bottom: -19px;
  position: absolute;

  &_prev {
    left: calc(50% - 40px);
    transform: translateX(-50%);
  }

  &_next {
    right: calc(50% - 40px);
    transform: translateX(50%);

    img {
      transform: rotate(180deg);
    }
  }
}

.modal-slider-pagination {
  z-index: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#portfolioModal {
  .modal-body {
    overflow: auto;
    padding: 30px 0 20px;

    @include respond-above(xl) {
      padding: 50px 0 30px;
    }
  }

  .container {
    @include respond-above(md) {
      max-width: 815px;
    }
  }

  .modal-sub-title {
    margin: 0 auto;
    max-width: 340px;
  }
}

#success {
  .modal-dialog {
    max-width: 650px;
  }

  .modal-content {
    height: auto;
    min-height: auto;
  }

  .modal-body {
    padding: 60px 0;
  }
}

#successRecovery {
  .col-top-content {
    padding-top: 50px;
    padding-bottom: 40px;

    @include respond-above(sm) {
      padding-top: 145px;
      padding-bottom: 145px;
    }

    @include respond-above(md) {
      padding-top: 165px;
      padding-bottom: 165px;
    }

    @include respond-above(lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
