extends includes/layout
include mixins/reviews

block vars
	-
		var title = "Poleznus - Customer profile"
		var infoList = [
			{
				title: 'Город',
				name: 'Одесса'
			},
			{
				title: 'Возраст',
				name: '32 года'
			},
			{
				title: 'На сайте',
				name: '1 год'
			},
			{
				title: 'Телефон 1',
				name: '+38 (096) 123 45 67'
			},
			{
				title: 'Телефон 2',
				name: '+38 (096) 123 45 67'
			},
			{
				title: 'Viber',
				name: '+38 (096) 123 45 67'
			},
			{
				title: 'Telegram',
				name: '@bobby_patton'
			},
			{
				title: 'Facebook',
				name: 'bobby-patton.com'
			},
			{
				title: 'Instagram',
				name: '@bobby_patton'
			},
			{
				title: 'Website',
				name: 'bobby-patton.com'
			},
		]
		var reviews = [
			{
				rate: 3.8,
				price: 1488,
				date: '13 сентября',
				desc: 'Прочистил мой дымоход быстро, но оставил не очищенные места',
				title: 'Требуется чистильщик что бы прочистить мой дымоход на заднем дворе',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'КрутойПацык228',
					profile: '/images/Default.jpeg'
				}
			},
			{
				rate: 2.2,
				price: 228,
				date: '29 августа',
				title: 'Нужно 20 человек выкрутить лампочку',
				desc: 'Пришел 1 человек и выкрутил 20 лампочек',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'ВажнаяШишка05',
					profile: '/images/Default.jpeg'
				}
			},
			{
				rate: 1.9,
				price: 322,
				date: '2 августа',
				desc: 'Оценка низкая, потому что он приехал с ножем',
				title: 'Нужен человек который приехал бы на перестрелку',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'КриминальныйГений228',
					profile: '/images/Default.jpeg'
				}
			}
		]

append content
	main#performer-profile-page
		section.performer-profile-main-section
			.container
				.row
					.col-12.col-lg-4
						.performer-profile-card.performer-profile-card_top
							.performer-profile-card__info-row
								.performer-profile-card__avatar
									img(src="/images/Default.jpeg" alt="Account")
								.performer-profile-card__account-info
									p.performer-profile-card__online Был в сети час назад
									p.performer-profile-card__name Пейтон Андрей
									p.performer-profile-card__info-text Готов принимать звонки
									.rate-wrap
										.rate
											span(style=`width: calc(${(4.7 * 100) / 5}%)`)
										p.rate-number 4.7
							.performer-profile-card__detailed-info-list
								each info in infoList
									.performer-profile-card__detailed-info-list-item
										p.performer-profile-card__info-text.performer-profile-card__info-text_name=info.title
										p.performer-profile-card__info-text=info.name
					.col-12.col-lg-8
						.performer-profile-card.performer-profile-card_bottom
							.performer-profile-card__category
								h2.performer-profile-card__category-title Описание
								p.performer-profile-card__category-desc Я - прораб. Постоянно ищу исполнителей для стройки. Обращайтесь если вы:<br>
									| - Маляр<br>
									| - Столет<br>
									| - Сантехник<br>
									| - Хороший человек
							.performer-profile-card__category
								h2.performer-profile-card__category-title!=`Отзывы (${reviews.length})`
								+reviews(reviews)
								button.custom-btn(type="button")
									span Больше отзывов