extends includes/layout
include mixins/reviews
include mixins/account-nav

block vars
	-
		var title = "Poleznus - Customer reviews"
		var reviews = [
			{
				rate: 3.8,
				price: 1488,
				date: '13 сентября',
				desc: 'Прочистил мой дымоход быстро, но оставил не очищенные места',
				title: 'Требуется чистильщик что бы прочистить мой дымоход на заднем дворе',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'КрутойПацык228',
					profile: '/images/Default.jpeg'
				}
			},
			{
				rate: 2.2,
				price: 228,
				date: '29 августа',
				title: 'Нужно 20 человек выкрутить лампочку',
				desc: 'Пришел 1 человек и выкрутил 20 лампочек',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'ВажнаяШишка05',
					profile: '/images/Default.jpeg'
				}
			},
			{
				rate: 1.9,
				price: 322,
				date: '2 августа',
				desc: 'Оценка низкая, потому что он приехал с ножем',
				title: 'Нужен человек который приехал бы на перестрелку',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'КриминальныйГений228',
					profile: '/images/Default.jpeg'
				}
			}
		]

append content
	main#customer-reviews-page
		section.performer-reviews-main-section
			.container
				.row
					.col-12.col-lg-3
						+accountNav(3, 'customer')
					.col-12.col-lg-9
						.performer-reviews-wrap
							h1.section-title Отзывы

							.performer-reviews-cards-wrap
								+reviews(reviews)