extends includes/layout

block vars
	- var title = "Poleznus - Order create"

append content
	main#customer-start-page
		section.how-it-works-section
			.container
				h2.section-title Как это работает?
				.row
					.col-9.col-sm-6.col-md-4.col-lg-4
						.step-card
							.step-card__info
								.step-card__number 1
								.step-card__desc-wrap
									p.step-card__title Создайте заказ
									p.step-card__desc Опишите, что и когда нужно сделать
							.step-card__img
								img(src="/images/Step_1.svg" alt="Step 1")
					.col-9.col-sm-8.col-md-6.col-lg-4
						.step-card
							.step-card__info
								.step-card__number 2
								.step-card__desc-wrap
									p.step-card__title Выберите специалиста
									p.step-card__desc Выберите специалиста для выполнения работы
							.step-card__img
								img(src="/images/Step_2.svg" alt="Step 2")
					.col-9.col-sm-7.col-md-6.col-lg-4
						.step-card
							.step-card__info
								.step-card__number 3
								.step-card__desc-wrap
									p.step-card__title Закройте заказ
									p.step-card__desc Оставьте отзыв и оценку за проделанную работу
							.step-card__img
								img(src="/images/Step_3.svg" alt="Step 3")
		section.customer-start-main-section
			.container
				.customer-card
					h1.section-title Создание заказа
					form#create-order-form.form-container(action="/" data-form-ajax method="POST")
						.row
							.col-12
								.form-group
									input.form-input.full-width(type="text" name="task" placeholder="Вкратце, что нужно сделать*" required)
							.col-12
								.form-group.form-select-group
									select(name="category" id="category")
										option(value="hide") Выберите категорию услуг*
										option(value="") Без категории
										option(value="category-1") Категория 1
										option(value="category-2") Категория 2
										option(value="category-3") Категория 3
							.col-12
								.form-group.form-area-group
									input#editorArea(name="description" type="hidden")
									#editor
								p.form-text Опишите задание как можно более подробнее минимум в 100 символах, так исполнители лучше
									| вас поймут и дадут более чёткие ответы
							.col-12
								.form-group
									input.form-input.full-width(type="text" name="budget" placeholder="Бюджет проекта")
								p.form-text Если вы не уверены, сколько может стоить проект — просто оставьте поле пустым
							.col-12.col-sm-6.col-lg-4
								.form-group
									input.form-input.full-width(type="date" name="makeDate" placeholder="Дата выполнения")
							.col-12.col-sm-6.col-lg-4
								.form-group.form-select-group
									select(name="makeTime" id="makeTime")
										option(value="hide") Время выполнения
										option(value="") Без времени
										option(value="one-hour") 1 час
										option(value="two-hour") 2 часа
										option(value="three-hour") 3 часа
							.col-12.col-lg-4
								.form-group.form-switch-group
									p Срочный проект
									label.form-switch-label
										input.form-checkbox(type="checkbox" name="urgent")
										span.form-switcher
							.col-12
								.form-group
									input.form-input.full-width(type="text" name="address" placeholder="Адрес")
							.col-12
								.form-group.form-file-group
									.form-file-upload
										p.form-file-text.form-file-text_title Загрузка файлов
										p.form-file-text.form-file-text_sub-title (для загрузки нажмите на это поле)
										input.form-input.file-input.excluded(type="file" multiple id="orderFile" name="files")
									.form-files-row
							button.custom-btn(type="submit")
								span Создать заказ