extends includes/layout
include mixins/account-nav

block vars
	- var title = "Poleznus - Customer info"

append content
	main#customer-info-page
		section.performer-info-main-section
			.container
				.row
					.col-12.col-lg-3
						+accountNav(1, 'customer')
					.col-12.col-lg-9
						.performer-info-wrap
							.tabs-container
								ul.nav.nav-tabs(id="performer-info-tab" role="tablist")
									.tab-indicator
									li.nav-item
										a.nav-link.active.tab-active(id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about")
											span Обо мне
									li.nav-item
										a.nav-link(id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description")
											span Описание
									li.nav-item
										a.nav-link(id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts")
											span Контакты
								.tab-content
									.tab-pane.show.active(id="about" role="tabpanel" aria-labelledby="about-tab")
										.performer-tab-info
											h1.section-title Обо мне
											.form-group.form-file-group.m-w-120.m-w-xl-150
												.form-img
													img(src="/images/ProfileDefault.svg" alt="Profile")
												input.form-input.file-input(type="file" name="profile" accept="image/jpeg,image/png,image/jpg")
										h2.section-title Общая информация
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											input(type="hidden" name="formType" value="about")
											.form-group
												input.form-input.full-width(type="text" name="name" placeholder="Имя" required)
											.form-group
												input.form-input.full-width(type="text" name="lastName" placeholder="Фамилия" required)
											.form-group
												input.form-input.full-width(type="text" name="middleName" placeholder="Отчество" required)
											.form-group.form-select-group
												.form-icon.to-right
													img(src="/images/SelectArrow.svg" alt="Arrow")
												select.form-input.full-width.with-icon-right(name="city" id="city" required)
													option(value="" disabled selected) Город
													option(value="city-1") Одесса
													option(value="city-2") Харьков
													option(value="city-3") Херсон
											.form-group.with-label
												p.form-label Дата рождения
												input.form-input.full-width(type="date" name="birthDate" placeholder="Дата рождения" required)
											.form-group.form-radio-group.with-label
												p.form-label Пол
												label.form-radio-label Мужской
													input.form-radio(type="radio" name="gender" value="male" required)
													span.form-radio-checkmark
												label.form-radio-label Женский
													input.form-radio(type="radio" name="gender" value="female" required)
													span.form-radio-checkmark
											button.disable-profile(type="button") Отключить профиль
									.tab-pane(id="description" role="tabpanel" aria-labelledby="description-tab")
										.performer-tab-info
											h1.section-title Описание профиля
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											p.additional-description Если вы постоянно ищете исполнителей - то есть смысл заполнить описание
												| профиля с деталями и сферой. Ну или о том какое у вас любимое хобби.
											.form-group.form-area-group
												textarea.form-area(name="profileDesc" rows="10" placeholder="Описание")
									.tab-pane(id="contacts" role="tabpanel" aria-labelledby="contacts-tab")
										.performer-tab-info
											h1.section-title Контакты
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											.form-group
												input.form-input.full-width(type="tel" name="phone" value="+38 (096) 123 45 67" placeholder="Телефон" disabled required)
											.form-group
												input.form-input.full-width(type="email" name="email" placeholder="Почта" required)
											.form-group
												input.form-input.full-width(type="tel" name="secondPhone" placeholder="Телефон 2")
											.form-group
												input.form-input.full-width(type="text" name="viber" placeholder="Viber")
											.form-group
												input.form-input.full-width(type="text" name="telegram" placeholder="Telegram")
											.form-group
												input.form-input.full-width(type="text" name="facebook" placeholder="Facebook")
											.form-group
												input.form-input.full-width(type="text" name="instagram" placeholder="Instagram")
											.form-group
												input.form-input.full-width(type="text" name="website" placeholder="Website")