extends includes/layout
include mixins/account-nav

block vars
	- var title = "Poleznus - Customer password"

append content
	main#customer-password-page
		section.performer-password-main-section
			.container
				.row
					.col-12.col-lg-3
						+accountNav(2, 'customer')
					.col-12.col-lg-9
						.performer-password-wrap
							h1.section-title Изменение пароля
							p.section-sub-title Пароль должен быть из минимум 8 символов. Также рекомендуем использовать минимум 1 цифру и минимум 1 спецсимвол
							form#customer-password-form.form-container.m-w-300.m-w-xl-380(action="/" method="POST")
								.form-group
									input.form-input.full-width(type="password" name="oldPassword" placeholder="Старый пароль" minlength="8" required)
								.form-group
									input.form-input.full-width(type="password" name="newPassword" placeholder="Новый пароль" minlength="8" required)
								.form-group
									input.form-input.full-width(type="password" name="confirmPassword" placeholder="Подтверждение пароля" minlength="8" required)
								button.custom-btn(type="submit")
									span Изменить пароль