extends includes/layout

block vars
	-
		var title = "Poleznus | Deals"
		var orders = [
			{
				rate: '5',
				time: '15 минут',
				price: '100 000$',
				img: '/images/Default.jpeg',
				address: 'Одесса, ул. Пушкина 3',
				name: 'Ремонт двери в детской комнате',
				description: 'Потолок заштукатурить зашпаклевать'
			},
			{
				rate: '5',
				time: '15 минут',
				price: '100 000$',
				img: '/images/Default.jpeg',
				address: 'Одесса, ул. Пушкина 3',
				name: 'Ремонт двери в детской комнате',
				description: 'Потолок заштукатурить зашпаклевать'
			},
			{
				rate: '5',
				time: '15 минут',
				price: '100 000$',
				img: '/images/Default.jpeg',
				address: 'Одесса, ул. Пушкина 3',
				name: 'Ремонт двери в детской комнате',
				description: 'Потолок заштукатурить зашпаклевать'
			},
			{
				rate: '5',
				time: '15 минут',
				price: '100 000$',
				img: '/images/Default.jpeg',
				address: 'Одесса, ул. Пушкина 3',
				name: 'Починка стенки, кажется ей очень плохо',
				description: 'Памагити, стенка в кусках, кажется, дома скоро развалится. Доставять меня из обломков будете сами, если чё. Нет, серьёзно, сами.'
			},
			{
				rate: '5',
				time: '15 минут',
				price: '100 000$',
				img: '/images/Default.jpeg',
				address: 'Одесса, ул. Пушкина 3',
				name: 'Ремонт двери в детской комнате',
				description: 'Потолок заштукатурить зашпаклевать'
			}
		]

append content
	main#deals-page
		section.orders-section
			.container
				.title-row
					h1.section-title Заказы
					.title-row__content
						button.filter-btn.filter-search.d-flex.d-lg-none(type="button")
							img(src="/images/Search.svg" alt="Search")
						form(action="/" data-form-ajax method="get").form-group.d-none.d-lg-block
							.form-icon.to-left
								img(src="/images/InputSearch.svg" alt="Search")
							input.form-input.with-icon-left(type="text" name="deals-search" placeholder="Поиск по сделкам")
						button.filter-btn.filter-list(type="button")
							img(src="/images/Filters.svg" alt="Filters")
							span.d-none.d-lg-block Фильтры
				.row
					each order in orders
						.col-12
							.order-card
								.order-card__img
									img(src=order.img alt="Order")
								.order-card__content
									.order-card__content-info
										p.order-card__address.d-block.d-md-none=order.address
											.order-card__title
												p.order-card__name=order.name
												p.order-card__price.d-none.d-md-block=order.price
											p.order-card__desc.d-none.d-sm-block=order.description
									.order-card__content-info
										p.order-card__price.d-block.d-md-none=order.price
										p.order-card__address.d-none.d-md-block=order.address
										.order-card__rate-wrap
											p.order-card__time=order.time
											p.order-card__rate
												img(src="/images/RateIcon.svg" alt="Rate")
												span=order.rate
				.page-pagination
					.page-pagination__count
						p.page-pagination__link Работ на странице
						select.form-input.with-icon-right(name="count" id="count")
							option(value="10" selected) 10
							option(value="15") 15
							option(value="20") 20
							option(value="25") 25
					.page-pagination__links
						a.page-pagination__arrow.page-pagination__arrow_prev(href="/")
							img(src="/images/PaginationArrow.svg" alt="Prev")
						.page-pagination__links-list
							a.page-pagination__link.active(href="/") 1
							a.page-pagination__link(href="/") 2
							a.page-pagination__link(href="/") 3
							p.page-pagination__link ...
							a.page-pagination__link(href="/") 999
						a.page-pagination__arrow.page-pagination__arrow_next(href="/")
							img(src="/images/PaginationArrow.svg" alt="Next")