extends includes/layout

block vars
  -
    var title = 'Poleznus'
    var services = [
      {
        link: '/',
        name: 'Строительство',
        img: '/images/Service_1.svg',
        description: 'Краткое описание услуги, перечень того, что можно сделать и другая информация'
      },
      {
        link: '/',
        name: 'Отделочные работы',
        img: '/images/Service_2.svg',
        description: 'Краткое описание услуги, перечень того, что можно сделать и другая информация'
      },
      {
        link: '/',
        name: 'Ремонт квартир',
        img: '/images/Service_3.svg',
        description: 'Краткое описание услуги, перечень того, что можно сделать и другая информация'
      },
      {
        link: '/',
        name: 'Бытовой ремонт',
        img: '/images/Service_4.svg',
        description: 'Краткое описание услуги, перечень того, что можно сделать и другая информация'
      }
    ]
    var orders = [
      {
        rate: '5',
        time: '15 минут',
        price: '100 000$',
        img: '/images/Default.jpeg',
        address: 'Одесса, ул. Пушкина 3',
        name: 'Ремонт двери в детской комнате',
        description: 'Потолок заштукатурить зашпаклевать'
      },
      {
        rate: '5',
        time: '15 минут',
        price: '100 000$',
        img: '/images/Default.jpeg',
        address: 'Одесса, ул. Пушкина 3',
        name: 'Ремонт двери в детской комнате',
        description: 'Потолок заштукатурить зашпаклевать'
      },
      {
        rate: '5',
        time: '15 минут',
        price: '100 000$',
        img: '/images/Default.jpeg',
        address: 'Одесса, ул. Пушкина 3',
        name: 'Ремонт двери в детской комнате',
        description: 'Потолок заштукатурить зашпаклевать'
      },
      {
        rate: '5',
        time: '15 минут',
        price: '100 000$',
        img: '/images/Default.jpeg',
        address: 'Одесса, ул. Пушкина 3',
        name: 'Починка стенки, кажется ей очень плохо',
        description: 'Памагити, стенка в кусках, кажется, дома скоро развалится. Доставять меня из обломков будете сами, если чё. Нет, серьёзно, сами.'
      },
      {
        rate: '5',
        time: '15 минут',
        price: '100 000$',
        img: '/images/Default.jpeg',
        address: 'Одесса, ул. Пушкина 3',
        name: 'Ремонт двери в детской комнате',
        description: 'Потолок заштукатурить зашпаклевать'
      }
    ]
    var works = [
      {
        title: 'Строительство',
        links: [
          { link: '/', name: 'Строительство домов' },
          { link: '/', name: 'Разнорабочие' },
          { link: '/', name: 'Сварочные работы' },
          { link: '/', name: 'Токарные работы' },
          { link: '/', name: 'Плотник' },
          { link: '/', name: 'Кладка кирпича' },
          { link: '/', name: 'Установка заборов и ворот' },
          { link: '/', name: 'Кровельные работы' },
          { link: '/', name: 'Бетонные работы' },
          { link: '/', name: 'Буровые работы' },
          { link: '/', name: 'Фундаментные работы' },
          { link: '/', name: 'Гидроизоляция' },
          { link: '/', name: 'Строй. мелких конструкций' },
          { link: '/', name: 'Ландшафтные работы' },
          { link: '/', name: 'Архитектура и проектирование' },
          { link: '/', name: 'Составление смет' },
          { link: '/', name: 'Земляные работы' },
          { link: '/', name: 'Монтаж вентиляции' },
          { link: '/', name: 'Промышленный альпинизм' },
          { link: '/', name: 'Другие стройработы' }
        ]
      },
      {
        title: 'Отделочные работы',
        links: [
          { link: '/', name: 'Укладка плитки' },
          { link: '/', name: 'Штукатурные работы' },
          { link: '/', name: 'Монтаж гипсокартона' },
          { link: '/', name: 'Малярные работы' },
          { link: '/', name: 'Поклейка обоев' },
          { link: '/', name: 'Напольные работы' },
          { link: '/', name: 'Установка и ремонт дверей' },
          { link: '/', name: 'Полировка мрамора' },
          { link: '/', name: 'Установка и ремонт окон' },
          { link: '/', name: 'Демонтажные работы' },
          { link: '/', name: 'Фасадные работы' },
          { link: '/', name: 'Потолочные работы' },
          { link: '/', name: 'Работа со стеклом' },
          { link: '/', name: 'Звукоизоляция' },
          { link: '/', name: 'Монтаж вагонки' },
          { link: '/', name: 'Другие ремонтные работы' }
        ]
      },
      {
        title: 'Ремонт квартир',
        links: [
          { link: '/', name: 'Ремонт под ключ' },
          { link: '/', name: 'Частичный ремонт' },
          { link: '/', name: 'Ремонт балкона' },
          { link: '/', name: 'Косметический ремонт' },
          { link: '/', name: 'Другой ремонт' }
        ]
      },
      {
        title: 'Бытовой ремонт',
        links: [
          { link: '/', name: 'Сантехник' },
          { link: '/', name: 'Электрик' },
          { link: '/', name: 'Муж на час' },
          { link: '/', name: 'Столяр' },
          { link: '/', name: 'Слесарь' },
          { link: '/', name: 'Установка бытовой техники' },
          { link: '/', name: 'Другие услуги мастера' }
        ]
      }
    ]

append content
  main#main-page
    section.main-section
      .container-fluid
        .main-section__tools-row
          .main-section__tool
            img(src="/images/Tool_1.svg" alt="Tool 1")
          .main-section__tool
            img(src="/images/Tool_2.svg" alt="Tool 2")
          .main-section__tool
            img(src="/images/Tool_3.svg" alt="Tool 3")
          .main-section__tool
            img(src="/images/Tool_4.svg" alt="Tool 4")
          .main-section__tool
            img(src="/images/Tool_5.svg" alt="Tool 5")
          .main-section__tool
            img(src="/images/Tool_6.svg" alt="Tool 6")
        .main-section__content-wrap
          h1.section-title Помогаем исполнителям и заказчикам найти друг друга
          p.section-desc Онлайн-сервис по поиску мастера для ремонта любой сложности

          .main-section__btns-wrap
            a.custom-btn(href="/performer-info.html")
              span Ищу исполнителя
            a.custom-btn(href="/customer-info.html")
              span Ищу работу
      .main-section__bottom-illustration
        .likes-wrap
          img.like(src="/images/Like.svg" alt="Like")
          img.like(src="/images/Like.svg" alt="Like")
          img.like(src="/images/Like.svg" alt="Like")
        img.customer(src="/images/Customer.svg" alt="Customer")
        img.hand(src="/images/Hand.svg" alt="Hand")
        img.worker(src="/images/Worker.svg" alt="Worker")
    section.services-section
      .container
        h2.section-title Услуги
        .row
          each service in services
            .col-12.col-lg-6
              .service-card
                .service-card__info
                  p.service-card__name=service.name
                  p.service-card__description=service.description
                a.service-card__link(href=service.link)
                  span Подробнее
                  img(src="/images/LinkArrow.svg" alt="Link")
                .service-card__service-img
                  img(src=service.img alt="Service")
    section.orders-section
      .container
        h2.section-title Что заказывают прямо сейчас?
        .row
          each order in orders
            .col-12
              .order-card
                .order-card__img
                  img(src=order.img alt="Order")

                .order-card__content
                  .order-card__content-info
                    p.order-card__address.d-block.d-md-none=order.address
                      .order-card__title
                        p.order-card__name=order.name
                        p.order-card__price.d-none.d-md-block=order.price
                      p.order-card__desc.d-none.d-sm-block=order.description
                  .order-card__content-info
                    p.order-card__price.d-block.d-md-none=order.price
                    p.order-card__address.d-none.d-md-block=order.address
                    .order-card__rate-wrap
                      p.order-card__time=order.time
                      p.order-card__rate
                        img(src="/images/RateIcon.svg" alt="Rate")
                        span=order.rate
        a.custom-btn(href="/")
          span Больше заказов
    section.how-it-works-section
      .container
        h2.section-title Как это работает?

        .row
          .col-9.col-sm-12.col-lg-4
            .step-card
              .step-card__info
                .step-card__number 1
                .step-card__desc-wrap
                  p.step-card__title Создайте заказ
                  p.step-card__desc Опишите, что и когда нужно сделать
              .step-card__img
                img(src="/images/Step_1.svg" alt="Step 1")
          .col-9.col-sm-12.col-lg-4
            .step-card
              .step-card__info
                .step-card__number 2
                .step-card__desc-wrap
                  p.step-card__title Выберите специалиста
                  p.step-card__desc Выберите специалиста для выполнения работы
              .step-card__img
                img(src="/images/Step_2.svg" alt="Step 2")
          .col-9.col-sm-12.col-lg-4
            .step-card
              .step-card__info
                .step-card__number 3
                .step-card__desc-wrap
                  p.step-card__title Закройте заказ
                  p.step-card__desc Оставьте отзыв и оценку за проделанную работу
              .step-card__img
                img(src="/images/Step_3.svg" alt="Step 3")
    section.works-list-section
      .container
        each work in works
          .row
            .col-12
              h2.works-title=work.title
            .col-12.col-works-list
              .works-list
                each link in work.links
                  .works-list__item
                    a.works-list__link.is-link(href=link.link)=link.name
    section.help-section
      .person-img.left-person
        img(src="/images/Person_1.svg" alt="Person 1")
      .person-img.right-person
        img(src="/images/Person_2.svg" alt="Person 2")
      .container
        h2.section-title Ищите проверенных специалистов или выгодные заказы с помощью poleznus
        .btns-row
          a.custom-btn.inverse(href="/")
            span Найти исполнителя
          a.custom-btn.inverse(href="/")
            span Стать исполнителем