extends includes/layout
include mixins/account-nav

block vars
  - var title = "Poleznus - Performer portfolio"

append content
  main#performer-portfolio-page
    section.performer-portfolio-main-section
      .container
        .row
          .col-12.col-lg-3
            +accountNav(2, 'performer')
          .col-12.col-lg-9
            .performer-portfolio-wrap
              h1.section-title Портфолио
              form.form-container(action="/" data-form-ajax method="POST" enctype="multipart/form-data")
                .form-group.form-file-group
                  .form-file-upload
                    img(src="/images/PortfolioDefault.svg" alt="Portfolio")
                    input.form-input.file-input.excluded(type="file" multiple id="portfolioFile" name="files" accept="image/jpeg,image/png,image/jpg")
                  .form-files-row
                .form-group.form-select-group
                  .form-icon.to-right
                    img(src="/images/SelectArrow.svg" alt="Arrow")
                  select.form-input.full-width.with-icon-right(name="category" id="category")
                    option(value="" disabled selected) Категория
                    option(value="category-1") Категория 1
                    option(value="category-2") Категория 2
                    option(value="category-3") Категория 3
                .form-group.form-area-group
                  textarea.form-area(name="portfolioDesc" rows="8" placeholder="Описание")
                button.custom-btn(type="submit")
                  span Добавить
              .row
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены
                .col-12.col-md-6
                  .performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
                    .performer-portfolio-card__image
                      .performer-portfolio-card__text
                        span Смотреть фото
                        img(src="/images/Watch.svg" alt="Photo")
                      img(src="/images/Default.jpeg" alt="Portfolio")
                    h2.performer-portfolio-card__title Ремонт квартир
                    p.performer-portfolio-card__desc Поставил плинтусы, побелил потолок и покрасил стены