extends includes/layout
include mixins/account-nav

block vars
	- var title = "Poleznus - Performer info"

append content
	main#performer-info-page
		section.performer-info-main-section
			.container
				.row
					.col-12.col-lg-3
						+accountNav(1, 'performer')
						.performer-recommend.performer-recommend_info
							h2.performer-recommend__title Рекомендуем!
							p.performer-recommend__desc Заполнить <a href="/performer-info.html">общую информацию</a>
								|  и <a href="/performer-portfolio.html">портфолио</a>. Это нужно, чтобы заказчики были уверены в ваших
								|  навыках и выбрали вас исполнителем
					.col-12.col-lg-9
						.performer-recommend.performer-recommend_thank
							h2.performer-recommend__title Спасибо за регистрацию в poleznus!
							p.performer-recommend__desc Мы рекомендуем как можно подробнее заполнить профиль, так как это сильно влияет на выбор заказчика
							button.custom-btn.inverse.close-recommend(type="button")
								span Понял, спасибо
						.performer-info-wrap
							.tabs-container
								ul.nav.nav-tabs(id="performer-info-tab" role="tablist")
									.tab-indicator
									li.nav-item
										a.nav-link.active.tab-active(id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about")
											span Обо мне
									li.nav-item
										a.nav-link(id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills")
											span Навыки
									li.nav-item
										a.nav-link(id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description")
											span Описание
								.tab-content
									.tab-pane.show.active(id="about" role="tabpanel" aria-labelledby="about-tab")
										.performer-tab-info
											h1.section-title Обо мне
											.form-group.form-file-group.m-w-120.m-w-xl-150
												.form-img
													img(src="/images/ProfileDefault.svg" alt="Profile")
												input.form-input.file-input(type="file" name="profile" accept="image/jpeg,image/png,image/jpg")
										h2.section-title Общая информация
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											input(type="hidden" name="formType" value="about")
											.form-group
												input.form-input.full-width(type="text" name="name" placeholder="Имя" required)
											.form-group
												input.form-input.full-width(type="text" name="lastName" placeholder="Фамилия" required)
											.form-group
												input.form-input.full-width(type="text" name="middleName" placeholder="Отчество" required)
											.form-group.form-select-group
												.form-icon.to-right
													img(src="/images/SelectArrow.svg" alt="Arrow")
												select.form-input.full-width.with-icon-right(name="city" id="city" required)
													option(value="" disabled selected) Город
													option(value="city-1") Одесса
													option(value="city-2") Харьков
													option(value="city-3") Херсон
											.form-group.with-label
												p.form-label Дата рождения
												input.form-input.full-width(type="date" name="birthDate" placeholder="Дата рождения" required)
											.form-group.form-radio-group.with-label
												p.form-label Пол
												label.form-radio-label Мужской
													input.form-radio(type="radio" name="gender" value="male" required)
													span.form-radio-checkmark
												label.form-radio-label Женский
													input.form-radio(type="radio" name="gender" value="female" required)
													span.form-radio-checkmark
											h2.section-title Контакты
											.form-group
												input.form-input.full-width(type="tel" name="phone" value="+38 (096) 123 45 67" placeholder="Телефон" disabled required)
											.form-group
												input.form-input.full-width(type="email" name="email" placeholder="Почта" required)
											.form-group
												input.form-input.full-width(type="tel" name="secondPhone" placeholder="Телефон 2")
											.form-group
												input.form-input.full-width(type="text" name="viber" placeholder="Viber")
											.form-group
												input.form-input.full-width(type="text" name="telegram" placeholder="Telegram")
											.form-group
												input.form-input.full-width(type="text" name="facebook" placeholder="Facebook")
											.form-group
												input.form-input.full-width(type="text" name="instagram" placeholder="Instagram")
											.form-group
												input.form-input.full-width(type="text" name="website" placeholder="Website")
											button.disable-profile(type="button") Отключить профиль
									.tab-pane(id="skills" role="tabpanel" aria-labelledby="skills-tab")
										.performer-tab-info
											h1.section-title Навыки
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											.form-group
												input.form-input.full-width(type="text" name="profession" placeholder="Название Вашей профессии")
											h2.section-title Что вы ещё умеете?
											.form-group.form-checkbox-group.with-label
												p.form-label Строительство
												label.form-checkbox-label Строительство домов
													input.form-checkbox(type="checkbox" name="houseBuilding")
													span.form-checkbox-checkmark
												label.form-checkbox-label Сварочные работы
													input.form-checkbox(type="checkbox" name="weldingWorks")
													span.form-checkbox-checkmark
												label.form-checkbox-label Плотник
													input.form-checkbox(type="checkbox" name="woodworker")
													span.form-checkbox-checkmark
											.form-group.form-checkbox-group.with-label
												p.form-label Отделочные работы
												label.form-checkbox-label Укладка плитки
													input.form-checkbox(type="checkbox" name="layingTiles")
													span.form-checkbox-checkmark
												label.form-checkbox-label Монтаж гипсокартона
													input.form-checkbox(type="checkbox" name="plasterboardInstallation")
													span.form-checkbox-checkmark
												label.form-checkbox-label Поклейка обоев
													input.form-checkbox(type="checkbox" name="wallpaperGluing")
													span.form-checkbox-checkmark
									.tab-pane(id="description" role="tabpanel" aria-labelledby="description-tab")
										.performer-tab-info
											h1.section-title Описание профиля
										form.form-container.m-w-xl-380(action="/" data-form-ajax method="POST")
											.form-group.form-area-group.with-label
												p.form-label Расскажите о себе и о ваших услугах
												textarea.form-area(name="profileDesc" rows="10" placeholder="Описание")
											p.additional-description
												| Ваша анкета — это ваша визитная карточка. Опишите ваши сильные стороны, умения и таланты, к примеру: <br><br>
												| - Вкратце об основных услугах, которые вы предоставляете; <br>
												| - Наличие диплома, допуска и другая специфическая информация, которая присуща вашей специализации; <br>
												| - Ваши сильные качества, которые помогают вам в работе; <br>