extends includes/layout
include mixins/reviews

block vars
	-
		var title = "Poleznus - Performer profile"
		var infoList = [
			{
				title: 'Город',
				name: 'Одесса'
			},
			{
				title: 'Возраст',
				name: '32 года'
			},
			{
				title: 'На сайте',
				name: '1 год'
			},
			{
				title: 'Телефон 1',
				name: '+38 (096) 123 45 67'
			},
			{
				title: 'Телефон 2',
				name: '+38 (096) 123 45 67'
			},
			{
				title: 'Viber',
				name: '+38 (096) 123 45 67'
			},
			{
				title: 'Telegram',
				name: '@bobby_patton'
			},
			{
				title: 'Facebook',
				name: 'bobby-patton.com'
			},
			{
				title: 'Instagram',
				name: '@bobby_patton'
			},
			{
				title: 'Website',
				name: 'bobby-patton.com'
			},
		]
		var skills = [
			{
				skillCategory: 'Строительство',
				skillsList: ['Строительство домов', 'Разнорабочие', 'Сварочные работы', 'Плотник']
			},
			{
				skillCategory: 'Отделочные работы',
				skillsList: ['Укладка плитки', 'Штукатурные работы', 'Монтаж гипсокартона', 'Установка и ремонт дверей']
			}
		]
		var reviews = [
			{
				rate: 3.8,
				price: 1488,
				date: '13 сентября',
				desc: 'Прочистил мой дымоход быстро, но оставил не очищенные места',
				title: 'Требуется чистильщик что бы прочистить мой дымоход на заднем дворе',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'КрутойПацык228',
					profile: '/images/Default.jpeg'
				}
			},
			{
				rate: 2.2,
				price: 228,
				date: '29 августа',
				title: 'Нужно 20 человек выкрутить лампочку',
				desc: 'Пришел 1 человек и выкрутил 20 лампочек',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'ВажнаяШишка05',
					profile: '/images/Default.jpeg'
				}
			},
			{
				rate: 1.9,
				price: 322,
				date: '2 августа',
				desc: 'Оценка низкая, потому что он приехал с ножем',
				title: 'Нужен человек который приехал бы на перестрелку',
				images: ['/images/Default.jpeg', '/images/Default.jpeg', '/images/Default.jpeg'],
				reviewer: {
					name: 'КриминальныйГений228',
					profile: '/images/Default.jpeg'
				}
			}
		]
		var portfolios = [
			{
				img: '/images/Default.jpeg',
				title: 'Ремонт квартир',
				desc: 'Починил дверь'
			},
			{
				img: '/images/Default.jpeg',
				title: 'Ремонт квартир',
				desc: 'Починил дверь'
			},
			{
				img: '/images/Default.jpeg',
				title: 'Ремонт квартир',
				desc: 'Починил дверь'
			}
		]

append content
	main#performer-profile-page
		section.performer-profile-main-section
			.container
				.row
					.col-12.col-lg-4
						.performer-profile-card.performer-profile-card_top
							.performer-profile-card__info-row
								.performer-profile-card__avatar
									img(src="/images/Default.jpeg" alt="Account")
								.performer-profile-card__account-info
									p.performer-profile-card__online Был в сети час назад
									p.performer-profile-card__name Пейтон Андрей
									.rate-wrap
										.rate
											span(style=`width: calc(${(4.7 * 100) / 5}%)`)
										p.rate-number 4.7
							a.custom-btn(href="/")
								span Предложить работу
							.performer-profile-card__detailed-info-list
								each info in infoList
									.performer-profile-card__detailed-info-list-item
										p.performer-profile-card__info-text.performer-profile-card__info-text_name=info.title
										p.performer-profile-card__info-text=info.name
					.col-12.col-lg-8
						.performer-profile-card.performer-profile-card_bottom
							.performer-profile-card__category
								.performer-profile-card__categort-row
									h2.performer-profile-card__category-title Умения
									p.performer-profile-card__info-text Строитель-плотник
								each skill in skills
									.performer-profile-card__skills-wrap
										p.performer-profile-card__skills-title=skill.skillCategory
										.performer-profile-card__skills-chips-wrap
											each skillName in skill.skillsList
												.performer-profile-card__skill-chip
													span=skillName
							.performer-profile-card__category
								h2.performer-profile-card__category-title Описание
								p.performer-profile-card__category-desc Выполню любые ремонтные работы по дому.<br>
									| - Подключение, перенос, установка, навеска осветительных, прочих приборов (люстры, бра, розетки,
									| автоматы, выключатели, крепление под ТЕЛЕ - видео аппаратуру)<br>
									| - Сборка любой корпусной мебели(кухни, шкафы, офисная, тумбы прочее)<br>
									| - Ремонт, установка, навеска мебели.<br>
									| - Сантехнические работы: установка стиральных машин, кранов  унитазов, умывальников.<br>
									| - Установка, навеска предметов домашнего интерьера(карнизы, шкафы, картины, полки, прочее)
							.performer-profile-card__category
								h2.performer-profile-card__category-title!=`Отзывы (${reviews.length})`
								+reviews(reviews)
								button.custom-btn(type="button")
									span Больше отзывов
							.performer-profile-card__category
								h2.performer-profile-card__category-title Портфолио (12)
								.slider-wrap
									#portfolio-slider.slider
										each portfolio in portfolios
											.slide
												.performer-portfolio-card(data-toggle="modal" data-target="#portfolioModal")
													.performer-portfolio-card__image
														.performer-portfolio-card__text
															span Смотреть фото
															img(src="/images/Watch.svg" alt="Photo")
														img(src=portfolio.img alt="Portfolio")
													h2.performer-portfolio-card__title=portfolio.title
													p.performer-portfolio-card__desc=portfolio.desc
									.slider-arrows-wrap
										.slider-arrow.slider-arrow_prev
											img(src="/images/SliderArrow.svg" alt="Prev")
											span Назад
										.slider-arrow.slider-arrow_next
											img(src="/images/SliderArrow.svg" alt="Next")
											span Далее