extends includes/layout
include ./mixins/breadcrumbs

block vars
	-
		const title = 'Poleznus | Code'
		const crumbs = [
			{
				active: true,
				name: 'Подтверждение телефона'
			},
			{
				name: 'Заполнение анкеты'
			}
		]

append content
	main#phone-recovery-page
		section.main-section
			.container
				+breadcrumbs(crumbs)
				h1.section-title Код из смс
				p.section-desc На номер +38 (096) 123 45 67 мы отправили 4х значный код, введите его ниже
				form#code-send-form.form-container(method="POST" action="/")
					.form-group.form-group-code
						input.form-input.code-input(type="text" name="code-1" id="code-1" placeholder="X" maxlength="1")
						input.form-input.code-input(type="text" name="code-2" id="code-2" placeholder="X" maxlength="1")
						input.form-input.code-input(type="text" name="code-3" id="code-3" placeholder="X" maxlength="1")
						input.form-input.code-input(type="text" name="code-4" id="code-4" placeholder="X" maxlength="1")

					button.custom-btn.full-width(type="submit" disabled)
						span Подтвердить