extends includes/layout
include ./mixins/breadcrumbs

block vars
	-
		const title = 'Poleznus | Phone recovery'
		const crumbs = [
			{
				active: true,
				name: 'Подтверждение телефона'
			},
			{
				name: 'Заполнение анкеты'
			}
		]

append content
	main#phone-recovery-page
		section.main-section
			.container
				+breadcrumbs(crumbs)

				h1.section-title Введите номер телефона
				p.section-desc К вашей почте не привязан номер телефона или мы не смогли его найти

				form#phone-recovery-form.form-container(method="POST" action="/" data-form-ajax)
					.form-group
						input.form-input.full-width(type="tel" name="phone" placeholder="Телефон" required)
					button.custom-btn.full-width(type="submit")
						span Подтвердить