extends includes/layout
include ./mixins/breadcrumbs

block vars
	-
		const title = 'Poleznus | Registration'
		const crumbs = [
			{
				name: 'Подтверждение телефона'
			},
			{
				active: true,
				name: 'Заполнение анкеты'
			}
		]

append content
	main#registration-page
		section.main-section
			.container
				+breadcrumbs(crumbs)

				h1.section-title Регистрация
				p.section-desc Заполните информацию о себе


				.form-group.form-file-group.m-w-120.m-w-xl-150
					.form-img
						img(src="/images/ProfileDefault.svg" alt="Profile")
					input.form-input.file-input(type="file" name="profile" accept="image/jpeg,image/png,image/jpg")

				.registration-credentials
					p +38 (096) 123 45 67
					p mail@gmail.com

				.tabs-container
					ul.nav.nav-tabs(id="profile-type-tab" role="tablist")
						.tab-indicator
						li.nav-item
							a.nav-link.active.tab-active(id="performer-tab" data-toggle="tab" href="#performer" role="tab" aria-controls="performer")
								span Исполнитель
						li.nav-item
							a.nav-link(id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company")
								span Компания
						li.nav-item
							a.nav-link(id="customer-tab" data-toggle="tab" href="#customer" role="tab" aria-controls="customer")
								span Заказчик
					.tab-content
						.tab-pane.show.active(id="performer" role="tabpanel" aria-labelledby="performer-tab")
							form.form-container.m-w-300.m-w-xl-380(action="/" data-form-ajax method="POST")
								input(type="hidden" name="formType" value="performer")

								.form-group
									input.form-input.full-width(type="text" name="name" placeholder="Имя" required)
								.form-group
									input.form-input.full-width(type="text" name="lastName" placeholder="Фамилия" required)
								.form-group.form-select-group
									.form-icon.to-right
										img(src="/images/SelectArrow.svg" alt="Arrow")
									select.form-input.full-width.with-icon-right(name="city" id="city" required)
										option(value="" disabled selected) Город
										option(value="city-1") Одесса
										option(value="city-2") Харьков
										option(value="city-3") Херсон
								.form-group
									.form-icon.form-icon-pass.form-icon-pass-show.to-right.clickable
										img(src="/images/Show.svg" alt="Show")
									.form-icon.form-icon-pass.form-icon-pass-hide.to-right.clickable.hidden
										img(src="/images/Hide.svg" alt="Hide")

									input.form-input.full-width.with-icon-right(type="password" name="password" placeholder="Пароль" required)

								button.custom-btn(type="submit" disabled)
									span Завершить регистрацию

								.agreement-row
									input(type="checkbox" id="agreement" name="agreement")
									p!="Я согласен с <a href='/'>условиями пользования</a>"
						.tab-pane(id="company" role="tabpanel" aria-labelledby="company-tab")
							form.form-container.m-w-300.m-w-xl-380(action="/" data-form-ajax method="POST")
								input(type="hidden" name="formType" value="company")

								.form-group
									input.form-input.full-width(type="text" name="companyName" placeholder="Название компании" required)
								.form-group.form-select-group
									.form-icon.to-right
										img(src="/images/SelectArrow.svg" alt="Arrow")
									select.form-input.full-width.with-icon-right(name="employments" id="employments" required)
										option(value="" disabled selected) Количество сотрудников
										option(value="5") 5
										option(value="10") 10
										option(value="15") 15
								.form-group.form-select-group
									.form-icon.to-right
										img(src="/images/SelectArrow.svg" alt="Arrow")
									select.form-input.full-width.with-icon-right(name="companyCity" id="companyCity" required)
										option(value="" disabled selected) Город
										option(value="city-1") Одесса
										option(value="city-2") Харьков
										option(value="city-3") Херсон
								.form-group
									.form-icon.form-icon-pass.form-icon-pass-show.to-right.clickable
										img(src="/images/Show.svg" alt="Show")
									.form-icon.form-icon-pass.form-icon-pass-hide.to-right.clickable.hidden
										img(src="/images/Hide.svg" alt="Hide")
									input.form-input.full-width.with-icon-right(type="password" name="password" placeholder="Пароль" required)

								button.custom-btn(type="submit" disabled)
									span Завершить регистрацию

								.agreement-row
									input(type="checkbox" name="agreement")
									p!="Я согласен с <a href='/'>условиями пользования</a>"
						.tab-pane(id="customer" role="tabpanel" aria-labelledby="customer-tab")
							form.form-container.m-w-300.m-w-xl-380(action="/" data-form-ajax method="POST")
								input(type="hidden" name="formType" value="customer")

								.form-group
									input.form-input.full-width(type="text" name="name" placeholder="Имя" required)
								.form-group
									input.form-input.full-width(type="text" name="lastName" placeholder="Фамилия" required)
								.form-group.form-select-group
									.form-icon.to-right
										img(src="/images/SelectArrow.svg" alt="Arrow")
									select.form-input.full-width.with-icon-right(name="clientCity" id="clientCity" required)
										option(value="" disabled selected) Город
										option(value="city-1") Одесса
										option(value="city-2") Харьков
										option(value="city-3") Херсон
								.form-group
									.form-icon.form-icon-pass.form-icon-pass-show.to-right.clickable
										img(src="/images/Show.svg" alt="Show")
									.form-icon.form-icon-pass.form-icon-pass-hide.to-right.clickable.hidden
										img(src="/images/Hide.svg" alt="Hide")
									input.form-input.full-width.with-icon-right(type="password" name="password" placeholder="Пароль" required)

								button.custom-btn(type="submit" disabled)
									span Завершить регистрацию

								.agreement-row
									input(type="checkbox" name="agreement")
									p!="Я согласен с <a href='/'>условиями пользования</a>"